.menuitem {
	width: 100%;
	padding: .5em .8em;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: none;
	background-color: var(--tertiary-bg-color);
	pointer-events: auto;
}

.touch {
	background-color: var(--primary-bg-color);
}

.menuitem:hover {
	background-color: var(--header-background-color);
}

.menuitem:disabled,
.menuitem[disabled] {
	background-color: var(--tertiary-bg-color);
	color: var(--text1);
	opacity: 0.38;
	cursor: default;
}

.menuitem__icon {
	height: 2em;
	width: 2em;
	background-color: var(--primary-color);
}

.menuitem__text {
	padding-left: 1em;
	white-space: nowrap;
}
