.icon {
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: var(--size);
	width: var(--size);
}

.icon.disabled {
	filter: brightness(0.8) ;
	cursor: not-allowed;   
}

.icon:active {
	transform: scale(1.15);
}

.icon.disabled:hover {
	transform: none;
}
  
.icon.disabled:active {
	transform: none;
}

.anchor {
	display: inline-block;
	background: transparent;
	border: none;
	border-radius: var(--radius);
	height: var(--size);
	width: var(--size);
}
