.ba_catalog_container {
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	background-color: var(--tertiary-bg-color);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);	
	padding: 0.3em;
	max-width: 50vw;
	max-height: 10em;
	overflow: auto;
}

.ba_catalog_item {
	margin: 0.3em;
}

.ba_catalog_item:hover {
	background: var(--primary-color);
}

.isselected {
	background: var(--primary-color);
	box-shadow: 0 0 0 .2em var(--primary-color-lighter);
}

.iscollapsed {
	display: none;
}
