#symbol-icon {
	anchor-name: --button;
}

.ba_catalog_container {
	background-color: var(--primary-bg-color);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
	overflow: auto;
	width: auto;
	padding: 0.7em;
	background-image: url('assets/chess.svg');
	background-size: 1em;
	position-anchor: --button;
	border: none;
}
.symbols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.is-portrait .ba_catalog_container {
	position: absolute;
	margin: auto;
	width: 80%;
	height: 60%;
}

.is-portrait #popover::backdrop {
	background-color: var(--modal-background-color);
}

.is-landscape .ba_catalog_container {
	max-width: 18em;
	max-height: 19em;
	top: anchor(bottom);
	left: anchor(left);
}

.ba_catalog_item {
	transition: transform var(--animation-duration-medium-close) var(--animation-easing-open);
}

.ba_catalog_item:hover {
	transform: scale(1.1);
}

.isselected {
	background: var(--primary-color);
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}

.iconselect__toggle-button {
	width: 100%;
	padding: 0.2em 1.4em 0.3em 0.1em;
	border: 0;
	border-bottom: 1px solid var(--text1);
	text-align: left;
	font-size: 1rem;
	box-shadow: none;
	opacity: 0.9;
	background: transparent;
	background-image: url('./assets/caret-down-fill.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 0.5em) center;
	background-size: 0.7em;
}

ba-icon {
	display: none;
}
