.coordinate-container {
	display: flex;
	margin: auto;
	user-select: none;
	border-left: 1px dotted var(--text1);
	padding: 0 1em;
}

@media (max-width: 600px) {
	.coordinate-container {
		display: none;
	}
} 

.coordinate-label {
	padding-left: 5.5em;
	margin: auto;
	display: block;
}

.select-coordinate {
	font-size: .7rem;
	font-weight: bold;
	width: min-content;
	position: absolute;
	bottom: .3em;
} 

.select-coordinate-option {
	font-weight: bold;
}
