.coordinate-container {
	display: flex;
	margin: auto;
	user-select: none;
	border-left: 1px dotted var(--text1);
	padding: 0 1em;
}

@media (max-width: 600px) {
	.coordinate-container {
		display: none;
	}
} 

.coordinate-label {
	padding-left: 5.5em;
	margin: auto;
	display: block;
}

.select-coordinate {
	background-color: var(--secondary-bg-color);
	color: var(--text1);
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	font-family: var(--font-family);
	font-size: .7rem;
	font-weight: bold;
	border-radius: 10%;
	width: min-content;
	height: min-content;
	outline: none;
	margin: auto;
	position: absolute;
	bottom: .3em;
} 

.select-coordinate-option {
	font-weight: bold;
}
