.coordinate-container {
	display: flex;
	margin: auto;
	user-select: none;
	border-left: 1px dotted var(--text1);
	padding: 0 1em;
}

@media (max-width: 600px) {
	.coordinate-container {
		display: none;
	}
}

.coordinate-label {
	padding-left: 1em;
	margin: auto;
	display: block;
}

.select-coordinate {
	font-size: 0.7rem;
	font-weight: bold;
	width: fit-content;
	padding: 0 1.5em 0 0;
}

.select-coordinate-option {
	font-weight: bold;
}
