.active-map__background {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: var(--z-disableall);
}
.active-map__button {
	opacity: 0;
	background: var(--text3);
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	overflow: hidden;
	border-radius: 0;
	margin: 2em;
	width: 100%;
}
.active-map__background:hover .active-map__button {
	opacity: 1;
}
