:host {
	display: block;
	width: 100%;
}

div {
	margin: 0;
	padding: 0;
}
/* 
.tree {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

ul {
	width: 100%;
}

li {
	width: 100%;
	text-align: start;
	margin: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

li > ul {
	display: none;
	flex-direction: column;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

li.show-children > ul {
	display: flex;
}

li > button {
	margin-left: 10px;
	padding: 5px 10px;
	border: none;
	background-color: #e74c3c;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

li > button:hover {
	background-color: #c0392b;
}

li > span {
	flex: 1;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #3498db;
	color: #fff;
}

li > .droppable:hover {
	background-color: #55af4d;
}

.droppable.has-children {
	background-color: #e67e22;
}
.droppable.drag-over {
	background-color: #27ae60;
}

.droppable.dropped {
	background-color: #9b59b6;
}

li.has-children > span::before {
	content: '▶';
	margin-right: 8px;
}

li.show-children > span::before {
	content: '▼';
}

input[type='text'] {
	font-size: inherit;
	border: none;
	outline: none;
	background-color: transparent;
}

.has-children.show-children {
	flex-direction: column;
	display: block;
}

.editable-input {
	--text3: black;
	--secondary-color: yellow;

	pointer-events: auto;
	user-select: text;
}

.hidden {
	display: none;
}

.custom-dropdown {
	position: relative;
	width: 100%;
}

.dropdown-selected {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

.dropdown-items {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.dropdown-item {
	padding: 10px;
	cursor: pointer;
}

.buttons {
	margin-left: auto;
}

.dropdown-item:hover {
	background-color: #f0f0f0;
}

.edit-btn {
	padding: 5px 8px;
	margin-left: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

.edit-btn:hover {
	background-color: #0056b3;
}

.buttons button {
	margin-left: 5px;
}

.dropdown-icon,
.close-dropdown-icon {
	margin-left: 10px;
}
