:host {
	display: block;
	width: 100%;
}

div {
	margin: 0;
	padding: 0;
}
/* 
.tree {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

ul {
	width: 100%;
}

li {
	width: 100%;
	text-align: start;
	margin: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

li > ul {
	display: none;
	flex-direction: column;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

li.show-children > ul {
	display: flex;
}

li > button {
	margin-left: 10px;
	padding: 5px 10px;
	border: none;
	background-color: #e74c3c;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

li > button:hover {
	background-color: #c0392b;
}

li > span {
	flex: 1;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #3498db;
	color: #fff;
}

li > .droppable:hover {
	background-color: #55af4d;
}

.droppable.has-children {
	background-color: #e67e22;
}
.droppable.drag-over {
	background-color: #27ae60;
}

.droppable.dropped {
	background-color: #9b59b6;
}

li.has-children > span::before {
	content: '▶';
	margin-right: 8px;
}

li.show-children > span::before {
	content: '▼';
}

input[type='text'] {
	font-size: inherit;
	border: none;
	outline: none;
	background-color: transparent;
}

.has-children.show-children {
	flex-direction: column;
	display: block;
}

.editable-input {
	--text3: black;
	--secondary-color: yellow;

	pointer-events: auto;
	user-select: text;
}

.custom-dropdown .dropdown-items.hidden {
	display: none;
}

.custom-dropdown {
	position: relative;
	width: 100%;
	font-family: Arial, sans-serif; /* Match your application's font */
	user-select: none;
}

.dropdown-selected {
	padding: 10px;
	background-color: #f0f0f0; /* Light grey, adjust to match your design */
	border: 1px solid #ccc; /* Light border */
	cursor: pointer;
}

.dropdown-items {
	position: absolute;
	width: 100%;
	background-color: #fff; /* White background */
	border: 1px solid #ccc; /* Light border, similar to the container */
	border-top: none; /* Remove top border to blend with the container */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
	z-index: 1000; /* Ensure dropdown appears above other content */
	max-height: 300px; /* Adjust based on your needs */
	overflow-y: auto; /* Enable scroll for many items */
}

.dropdown-item {
	padding: 10px;
	cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
	background-color: #e9e9e9; /* Light grey, adjust to match your design */
}

.edit-btn {
	padding: 5px 8px;
	margin-left: 10px; /* Space from the label */
	background-color: #007bff; /* Adjust to match your design */
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px; /* Optional: Rounded corners */
}

.edit-btn:hover {
	background-color: #0056b3; /* Darker shade on hover */
}
