.profile {
  margin: 0.1em;
}

#element1 {
  display: inline-block;
  margin-right: 10px;
}
#element2 {
  display: inline-block;
}

.flex {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
