.tool-container__text-item {
	display: flex;
	align-items: flex-end;
	margin: 0 0 1em 0;
}

/*TODO: move to main.css/mvuElement.css*/
.chips__container {
	display: flex;
	justify-content: center;
	padding: 1em 0 1em;
	border-bottom: 1px solid var(--header-background-color);
}

.copy {
	width: 3em;
}

.prime-text-value {
	font-size: 2.2em;
	flex-grow: 1;
	text-align: right;
	margin-left: .5em;
	margin-right: .5em;
	line-height: .9;
}

.prime-text-unit {
	font-size: 2.2em;
	text-align: left;
	width: 2.1em;
	line-height: .9;
}

.area {
	opacity: 0;
}

.is-area {
	opacity: 1;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linea);
}