.share_content{    
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.share_item{
    display: flex;
    align-items: end;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em;
    
}

.link span{
    margin: 0.2em;
}

.link input{
    width:100%;
    background:var(--secondary-bg-color);
    border: none;    
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
}

.ba-input-group {
    --size: 2.6em;
    width: 20em;
    border: 2px solid  var(--primary-color-theme);  
    display: flex;
    border-radius: var(--border-radius-button);
    overflow: hidden;
    font-size: 1.25rem;
    position: relative;   
    height: var(--size);
    padding: 0.2em;
  }
  
  .ba-input-group__input {
    border: 0;
    padding: 0.25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    cursor: pointer;
    color:var(--color);
  }
  
  .ba-input-group__button {
    margin-left: auto;
    background:  var(--primary-color-theme);  
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    width: calc(var(--size) - .6em);
    height: calc(var(--size) - .6em);
  }