/* .geolocation {
  position: absolute;
  right: 10px;
  top: 300px;
  display: inline-block;
  vertical-align: top;
} */

.geolocation-icon {
  mask: url("./assets/geo-alt-fill.svg");
  -webkit-mask-image: url("./assets/geo-alt-fill.svg");
}

.icon { 
  mask-size: cover;
  -webkit-mask-size: cover;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}

.inactive {
  background: var(--map-button-color);
}
.active {
  background: #ff0000;
}
.denied {
  background: #696969;
}

.geolocation-button {
  background-color: var(--map-button-bg-color);
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  border: none;
  outline: none;
  padding-top: 0.25em;
}

.geolocation-button:hover {
  transform: scale(1.1);
}

.geolocation-button:active {
  transform: scale(1.15);
  border: none;
}