button {
	cursor: pointer;
	padding: 0.2em 0.5em;
	background: transparent;
	border: none;
	font-weight: bold;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	color: #ddd;
	width: 50px;
	margin: 0 2px;
	background-color: rgb(54, 157, 201);
	opacity: 0.8;
}

.catalog-container {
	width: 100%;
	min-height: 250px;
	padding: 50px;
}

.catalog-node {
	display: flex;
	padding: 20px 20px;
	border-bottom: 1px solid black;
}

.group {
	background-color: #333;
}

.geo-resource {
	background-color: #aaa;
}

[node-id='preview'] > .geo-resource {
	background-color: lightblue;
}

.title-bar,
.btn-bar {
	display: flex;
	flex: 1 0;
}

.title-bar {
	justify-content: left;
	color: #ddd;
}

.btn-bar {
	justify-content: right;
}

#catalog-tree-root {
	list-style-type: none;
	ul {
		list-style-type: none;
	}

	> li li {
		margin-left: 2em;
	}
}
