button {
	cursor: pointer;
	padding: 0.2em 0.5em;
	background: transparent;
	border: none;
	font-weight: bold;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	color: #ddd;
	width: 100%;
	margin: 0 2px;
	background-color: rgb(54, 157, 201);
	opacity: 0.8;
}

.catalog-container {
	width: 100%;
	min-height: 250px;
	padding: 50px;
	overflow-y: scroll;
	height: calc(100vh - 50px);
}

.catalog-node {
	display: flex;
	padding: 20px 20px;
	border-bottom: 1px solid black;
}

.group {
	background-color: #333;
}

.geo-resource {
	background-color: #aaa;
}

[node-id='preview'] > .geo-resource {
	background-color: lightblue;
}

.title-bar,
.btn-bar {
	display: flex;
}

.title-bar {
	justify-content: left;
	color: #ddd;
	flex: 0.8 0;
}

.btn-bar {
	justify-content: right;
	flex: 0.2 0;
}

#catalog-tree {
	padding: 20px 200px;
}

#catalog-tree-root {
	list-style-type: none;
	ul {
		list-style-type: none;
	}

	> li li {
		margin-left: 2em;
	}
}

.catalog-select-container {
	display: flex;
	flex: 0 1 300px;
	> select {
		color: #ddd;
	}
}

.catalog-button-bar {
	display: flex;
	flex: 0 1 400px;
	gap: 1em;
	justify-items: center;
	height: 100%;
	padding: 5px 2px;
}

.menu-bar {
	height: 50px;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.space-between {
	justify-content: space-between;
}

/* Mock Up (Remove later) */
.gr100 {
	background-color: #181818;
}

.gr25 {
	background-color: #aaa;
}

.gr50 {
	background-color: #777;
}

.gr75 {
	background-color: #222;
}
