{
  "extends": "stylelint-config-recommended",
  "defaultSeverity": "warning",
  "rules": {
    "no-missing-end-of-source-newline": true,
    "no-empty-first-line": true,
    "max-empty-lines": 1,
    "indentation": "tab"
  }
}