.tool-bar {
	position: fixed;
	z-index: var(--z-toolbox);
	bottom: .5em;
	right: 0em;
	background-color: var(--primary-bg-color);
	padding: 0.5em;
	transition: transform var(--animation-duration-large-open) var(--animation-easing-open);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.tool-bar>* {
	border: 0;
	border-right: 1px dotted var(--header-background-color);
}

.tool-bar>*:last-child {
	border-right: none;
}

.tool-bar__tools-nav {
	position: absolute;
	top: 0rem;
	right: 1rem;
	opacity: .9;
}

.tool-bar__tools-nav-button {
	height: 1rem !important;
	width: 1rem !important;
	background: transparent;
	border: none;
	margin: .5rem !important;
}

.tool-bar__button {
	display: inline-block;
	cursor: pointer;
	background: var(--header-button-color);
	opacity: .9;
	transition: transform var(--animation-duration-large-open) var(--animation-easing-open);
	z-index: 1;
	border-bottom: .3em transparent solid;
}

.is-desktop .tool-bar__button {
	display: inline-block;
	cursor: pointer;
	background: var(--header-button-color);
	opacity: .9;
	padding: .2em .4em .4em;
	font-size: .9em;
}

.is-active {
	border-bottom-color: var(--secondary-color);
}

.tool-bar__button:hover {
	opacity: 1;
	background: var(--header-background-color);
}

.tool-bar__button_icon {
	height: 2.5em;
	width: 2.5em;
	margin: .8rem .8rem .3rem .8rem;
	padding: 0;
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
}

.is-active .tool-bar__button_icon {
	background: var(--secondary-color);
}

.share {
	mask-image: url('assets/share.svg');
	-webkit-mask-image: url('assets/share.svg');
}

.import {
	mask-image: url('assets/upload.svg');
	-webkit-mask-image: url('assets/upload.svg');
}

.pencil {
	mask-image: url('assets/pencil.svg');
	-webkit-mask-image: url('assets/pencil.svg');
}

.measure {
	mask-image: url('assets/measure.svg');
	-webkit-mask-image: url('assets/measure.svg');
}

.wrench {
	mask-image: url('assets/wrench.svg');
	-webkit-mask-image: url('assets/wrench.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
	height: 3em;
	width: 3em;
	background: var(--primary-color);
	margin: .5em;
	transition: transform var(--animation-duration-medium-open) var(--animation-easing-open);
}

.tool-bar__button-text {
	font-size: .8rem;
	text-align: center;
}

.tool-bar__tools {
	display: none;
}

.action-button {
	font-size: .8em;
	position: fixed;
	z-index: calc(var(--z-toolbox) - 10 + var(--z-map));
	right: .6em;
	bottom: .5em;
	height: 6em;
	width: 6em;
	border-radius: 3.5em;
	background-color: var(--primary-bg-color);
	border: none
}

.is-tablet .tool-bar {
	bottom: -20em;
	right: 0;
}

.is-desktop .action-button {
	display: none;
}

.is-desktop .tool-bar {
	font-size: .9rem;
	max-width: none;
	right: -25.5em;
	bottom: .8em;
	padding: 0em;
}

.is-portrait .tool-bar {
	font-size: 1rem;
	flex-direction: row;
	bottom: -20em;
	left: 0;
	right: 0;
	width: auto;
	max-width: unset;
}

.is-desktop .is-open {
	transform: translate(-27em, 0);
}

.is-portrait .is-open,
.is-tablet .is-open {
	transform: translate(0, -20em);
}

.is-portrait .tool-bar__item {
	max-width: inherit;
	width: 100%;
	height: auto;
}

.is-portrait .tool-container__item button,
.is-tablet .tool-container__item button {
	margin: .8rem .8rem .3rem .8rem;
}

.action-button__border {
	position: absolute;
	top: 0;
	height: 6em;
	width: 6em;
	border-radius: 3em;
	background: linear-gradient(to right, rgb(58, 132, 195) 0%, rgb(65, 154, 214) 50%, rgb(75, 184, 240) 51%, rgb(58, 139, 194) 100%);
}

.action-button__icon {
	position: absolute;
	top: 0;
	z-index: calc(var(--z-toolbox) + 20);
	border: none;
	height: 5.4em;
	width: 5.4em;
	margin: .3em;
	background: var(--primary-bg-color);
	border-radius: 2.7em;
}

.ba {
	height: 5.4em;
	width: 5.4em;
	margin: .3em .6em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5.4em 5.4em;
	background-image: url('assets/ba.svg');
}

.animated-action-button__border {
	background: linear-gradient(to right, rgb(58, 132, 195) 0%, rgb(65, 154, 214) 50%, rgb(75, 184, 240) 51%, rgb(58, 139, 194) 100%);
	animation: spin 0.9s linear infinite;
	animation-play-state: paused;
}

@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}

.animated-action-button__border__running {
	animation-play-state: running;
}

.toolbar__logo-badge {
	background: var(--error-color);
	font-weight: bold;
	color: #fff;
	border-radius: 2em;
	padding: .2EM 0.5em;
	Z-INDEX: 999999999;
	position: absolute;
	top: -.5em;
	left: 4.5em;
	box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
	font-size: .6rem;
}

.arrowright {
	display: block;
	height: 2em;
	width: 2em;
	margin: 1.3em 0;
	padding: 0;
	background: var(--text2);
	mask-size: cover;
	-webkit-mask-size: cover;
	mask-image: url('assets/arrowbarright.svg');
	-webkit-mask-image: url('assets/arrowbarright.svg');
}

.is-portrait .arrowright,
.is-tablet .arrowright {
	transform: rotate(90deg)
}

.close {
	height: 2em;
	width: 2em;
	margin: 1.3em .2em;
	padding: 0;
	background: var(--text2);
	mask-size: cover;
	-webkit-mask-size: cover;
	mask-image: url('assets/arrowbarright.svg');
	-webkit-mask-image: url('assets/arrowbarright.svg');
}

.is-portrait .wrench,
.is-tablet .wrench {
	background: var(--text3);
	height: 3em;
	width: 3em;
	margin: .2em;
}

.is-portrait .tool-bar__button-close,
.is-tablet .tool-bar__button-close {
	display: none;
}

.toolbar__button-tools {
	display: block;
	position: fixed;
	z-index: calc(var(--z-toolbox) - 10);
	background: var(--primary-color);
	background: var(--primary-bg-color);
	width: 4em;
	height: 4em;
	border-radius: 2em;
	bottom: 1.2em;
	right: .9em;
	border: 0;
	transition: transform var(--animation-duration-medium-open) var(--animation-easing-open);
	transition-delay: var(--animation-duration-large-open);
}

.is-portrait .toolbar__button-tools,
.is-tablet .toolbar__button-tools {
	position: fixed;
	background: var(--primary-bg-color);
	background: var(--primary-color);
	width: 3.4em;
	height: 3.4em;
	bottom: 6.5em;
	right: 1.2em;
	transform: scale(1.1);
}

.toolbar__button-tools:hover {
	cursor: pointer;
}

.toolbar__button-tools:focus {
	box-shadow: 0 0 0 .2em var(--primary-color-lighter);
}

.hide-button {
	right: -5em;
	transform: translate(+5em, 0);
}

.is-portrait .hide-button,
.is-tablet .hide-button {
	transform: translate(0, 0) scale(1.1);
}

.is-portrait .hide-button .wrench,
.is-tablet .hide-button .wrench {
	mask-image: url('assets/close.svg');
	-webkit-mask-image: url('assets/close.svg');
	transform: rotate(90deg);
}
