:host {
	width: 100%;
}

.searchable-select {
	display: flex;
	cursor: pointer;
	width: inherit;
}

.fold-up {
	align-items: self-end;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.option {
	background-color: var(--primary-bg-color);
	border-bottom: 1px solid var(--text1);
	min-height: 20px;
	padding: 8px 15px;
}

.option.hovered,
.option.hovered:hover {
	background-color: var(--header-background-color);
}

.caret-fill-down {
	display: block;
	mask: url('./assets/caret-down-fill.svg');
	-webkit-mask: url('./assets/caret-down-fill.svg');
	background-color: var(--primary-color);
	width: 1em;
	height: 1em;
	position: relative;
	top: 0.3em;
	border: none;
}

.search-input-container {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid var(--text1);
	width: inherit;

	input {
		padding: 3px 0px 3px 8px;
		border: none;
	}

	#search-input-toggler {
		padding: 3px 8px;
		background-color: var(--primary-bg-color);
	}
}

.dropdown {
	/* width is controlled in js to fit parent container's width (see _showDropdown(viewportHeight)) */
	position: absolute;
	z-index: var(--z-mapbuttons);
}
