/* icon */
.icon {
	background: var(--primary-color);
	-webkit-mask-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 1em;
	width: .625em;
}
.icon-rotate-90 {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all var(--animation-duration-large-open) var(--animation-easing-open);
}
.iconexpand {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.chevron {
	position: relative;
	mask: url('../assets/chevron-right.svg');
	-webkit-mask-image: url('../assets/chevron-right.svg');
	mask-image: url('../assets/chevron-right.svg');
}
.connect {
	background-color: var(--primary-color);
	color: var(--text3);
	opacity: .8;
	font-size: 0.8em; 
	font-weight: bold;
	width: 19%; 
	padding: 0.8em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 1em 0;
}

.title {
	font-size: 0.8em; 
	font-weight: bold;
	padding: .3em;
}

.area-url {
	height: 30vh; 
	width: 100%; 
	border: 1px solid black;
}

.area-description {
	height: 93%; 
	border: 1px solid black; 
	resize: none;
}

.width80 {
	width: 80%;
}

.list-margin {
	margin: 0 20px;
}