#ol-map {
    width: 100%;
    height: 100%;
    position: fixed;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.dragging,
.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.ol-scale-line {
  bottom: 22px;
  left: 0px;
}

.ol-scale-line-inner {

}