.context-menu {
	--mouse-x: 0;
	--mouse-y: 0;
	position: fixed;
	margin: 0;
	left: 0;
	top: 0;
	background-color: var(--primary-bg-color);
	border: 3px solid var(--primary-bg-color);
	display: block;
	box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
}
/* sector: */
/* 0-1 */
/* 3-2	 */
/* 100% when used inside a translate, yields the current element width !!*/

.sector-0 {
	transform: translateX(calc(var(--mouse-x))) translateY(calc(var(--mouse-y)));
}
.sector-0:after {
	content: '';
	position: absolute;
	border-top: 20px solid transparent;
	border-left: 20px solid var(--primary-bg-color);
	border-bottom: 3px solid var(--primary-bg-color);
	top: -23px;
	left: -3px;
}
.sector-0:before {
	content: '';
	position: absolute;
	border-top: 20px solid transparent;
	border-left: 20px solid lightgray;
	top: -24px;
	left: -2px;
	box-shadow: -3px 2px 2px rgb(0 0 0 / 15%);
	z-index: -1;
}
.sector-1 {
	transform: translateX(calc(var(--mouse-x) - 100%)) translateY(calc(var(--mouse-y)));
}
.sector-1:after {
	content: '';
	position: absolute;
	border-top: 20px solid transparent;
	border-right: 20px solid var(--primary-bg-color);
	border-bottom: 3px solid var(--primary-bg-color);
	top: -23px;
	right: -3px;
}
.sector-1:before {
	content: '';
	position: absolute;
	border-top: 20px solid transparent;
	border-right: 20px solid lightgray;
	top: -24px;
	right: -2px;
	box-shadow: 3px 2px 2px rgb(0 0 0 / 15%);
	z-index: 0;
}
.sector-2 {
	transform: translateX(calc(var(--mouse-x) - 100%)) translateY(calc(var(--mouse-y) - 100%));
}
.sector-2:after {
	content: '';
	position: absolute;
	border-bottom: 20px solid transparent;
	border-right: 20px solid var(--primary-bg-color);
	border-top: 3px solid var(--primary-bg-color);
	bottom: -23px;
	right: -3px;
}
.sector-2:before {
	content: '';
	position: absolute;
	border-bottom: 20px solid transparent;
	border-right: 20px solid lightgray;
	bottom: -24px;
	right: -2px;
	box-shadow: 3px -1px 2px rgb(0 0 0 / 15%);
	z-index: 0;
}
.sector-3 {
	transform: translateX(calc(var(--mouse-x))) translateY(calc(var(--mouse-y) - 100%));
}
.sector-3:after {
	content: '';
	position: absolute;
	border-bottom: 20px solid transparent;
	border-left: 20px solid var(--primary-bg-color);
	border-top: 3px solid var(--primary-bg-color);
	bottom: -23px;
	left: -3px;
}
.sector-3:before {
	content: '';
	position: absolute;
	border-bottom: 20px solid transparent;
	border-left: 20px solid lightgray;
	bottom: -24px;
	left: -2px;
	box-shadow: -3px -1px 2px rgb(0 0 0 / 15%);
	z-index: 0;
}
.header {
	background-color: var(--primary-color);
	background-color: var(--primary-bg-color);
	color: var(--text1);
	padding: .8em 1.5em;
	font-weight: bold;
	display: flex;
}
.close-icon {
	position: absolute;
	right: 0;
	top: 0;
	height: 2.2em;
	width: 2.2em;
	border-radius: 3em;
	padding: .3em;
}
.close-icon:hover {
	background: var(--header-background-color)
}
