.container {
    float: left;
  }
  
.content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
  
  .content li {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .content li .label{
    min-width: 90px;
  }

  .content li .coordinate{
    flex-grow: 4
  }

  .content li .icon{
    padding-left: 20px
  }
