.adjust {
	position: relative;
	mask: url('assets/adjust.svg');
	-webkit-mask-image: url('assets/adjust.svg');
	/* transform: rotate(180deg); */
}

.icon {
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	width: 15px;
}

.container {
	padding-right: 10px;
	display: flex;
}
