/* default style for all BaElements */

/* global variables (custom properties) */

:root {
    font-size: calc(0.5em + 1vw);
}

*,
::before,
::after{
    font-size: 1em;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    color: var(--color); 
    font-family: var(--font-family);
}  