/* default style for all BaElements */
/* global variables (custom properties) */

*,
::before,
::after{
    font-size: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color); 
    font-family: var(--font-family);
}  

*,*:focus,*:hover{
    outline:none;
}