/* default style for all BaElements */
*,
::before,
::after{
    font-size: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color); 
    font-family: var(--font-family);
    line-height: 1.2;
    letter-spacing: 0.01em;
}  

*,*:focus,*:hover{
    outline:none;
}

/* not working in Firefox */
::-webkit-scrollbar {
    width: .4em;
}
::-webkit-scrollbar-thumb {
    border-radius:.9em;
    background: var(--secondary-bg-color);
}

input{
    background: var(--primary-bg-color);
    border: 2px solid var(--primary-color-theme);    
    border-radius: var(--border-radius-button);
    overflow: hidden;
    font-size: 1.25rem;
    padding: 0.25em .6em;
    width: var(--width);
    background: var(--primary-bg-color);
    color: var(--color);
}
input[readonly]{
    border: 2px solid var(--secondary-bg-color);    
    background: var(--primary-bg-color);
}
