/* ==========================================================================
   default style for all BaElements
   ========================================================================== */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*:focus,
*:hover {
	outline: none;
}
*:focus-visible {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter) 0 0 0 0.4em var(--primary-color);
}

/* not working in Firefox */
::-webkit-scrollbar {
	width: 0.4em;
}
::-webkit-scrollbar-thumb {
	border-radius: 0.9em;
	background: var(--secondary-bg-color);
}
::-moz-selection {
	color: var(--text3);
	background: var(--secondary-color);
}

::selection {
	color: var(--text3);
	background: var(--secondary-color);
}

/* 
   tags
*/

a,
button,
input,
select,
textarea {
	font-size: 1rem;
	font-family: var(--font-family);
	color: var(--text1);
	line-height: 1.2;
	letter-spacing: 0.01em;
}
a,
button,
select,
ba-checkbox {
	cursor: pointer;
	overflow-wrap: anywhere;
}
a {
	text-decoration: none;
}
input,
textarea {
	padding: 0.1em 0.5em;
	border: 1px solid var(--text2);
	line-height: 1.8;
	width: 100%;
	box-shadow: none;
	background: var(--primary-bg-color);
}
select {
	width: 100%;
	padding: 0.2em 1.4em 0.3em 0.1em;
	border: none;
	border-bottom: 1px solid var(--text1);
	box-shadow: none;
	appearance: none;
	background: var(--primary-bg--color);
	background-image: url('./assets/caret-down-fill.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 0.5em) center;
	background-size: 0.7em;
}
select:focus {
	border-bottom: 1px solid var(--primary-color);
}
select option {
	background-color: var(--primary-bg-color);
	color: var(--text1);
	border: none;
}
input[readonly],
textarea[readonly],
select[disabled] {
	background: var(--secondary-bg-color);
	opacity: 0.7;
}
input[type='range'] {
	border: none;
	padding: 0;
	--track-height: 0.3em;
	--track-fill: 0%;
	--thumb-size: 1.5em;
	--thumb-offset: -0.6em;
	--thumb-highlight-size: 0px;
	--primary-color-light: var(--primary-color-lighter);
	appearance: none;
	display: block;
	inline-size: 100%;
	margin: 1em 0;
	background: transparent;
	outline-offset: 5px;
}
input[type='range']::-webkit-slider-runnable-track {
	appearance: none;
	block-size: var(--track-height);
	border-radius: 0.5em;
	background: linear-gradient(to right, var(--primary-color) var(--track-fill), var(--secondary-bg-color) 0%);
}
input[type='range']::-moz-range-track {
	appearance: none;
	block-size: var(--track-height);
	border-radius: 0.5em;
	background: linear-gradient(to right, var(--primary-color) var(--track-fill), var(--secondary-bg-color) 0%);
}
input[type='range']::-webkit-slider-thumb {
	appearance: none;
	cursor: ew-resize;
	border: 3px solid var(--primary-bg-color);
	block-size: var(--thumb-size);
	inline-size: var(--thumb-size);
	margin-top: var(--thumb-offset);
	border-radius: 50%;
	background: var(--primary-color) fixed;
	box-shadow: 0 0 0 var(--thumb-highlight-size) var(--primary-color-lighter);
	transition: box-shadow 0.1s ease;
}
input[type='range']::-moz-range-thumb {
	appearance: none;
	cursor: ew-resize;
	border: 3px solid var(--primary-bg-color);
	block-size: var(--thumb-size);
	inline-size: var(--thumb-size);
	margin-top: var(--thumb-offset);
	border-radius: 50%;
	background: var(--primary-color) fixed;
	box-shadow: 0 0 0 var(--thumb-highlight-size) var(--primary-color-lighter);
	transition: box-shadow 0.1s ease;
}
input[type='range']:focus {
	--thumb-highlight-size: 0.3em;
}

/* 
   ba-form-element  
*/
.ba-form-element {
	position: relative;
	margin: 1em 0 1.5em 0;
	width: 100%;
}
.ba-form-element:last-of-type {
	margin: 1em 0 0em 0;
}
.ba-form-element .control-label {
	font-size: 0.8rem;
	top: 0.4em;
	left: 1.2em;
	position: absolute;
	pointer-events: none;
	color: var(--text1);
	z-index: 1;
	-webkit-transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
}
.ba-form-element textarea::placeholder,
.ba-form-element input::placeholder {
	color: transparent;
}
.error-label {
	display: none;
}
.ba-form-element .helper-label,
.ba-form-element .error-label {
	position: relative;
	font-size: 0.8rem;
	left: 0.9em;
	top: 0;
	pointer-events: none;
	padding-left: 0.125rem;
	z-index: 1;
	color: var(--text1);
	font-weight: normal;
	-webkit-transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
}
.ba-form-element .bar {
	position: relative;
	display: block;
	border-bottom: 0.2em solid var(--secondary-color);
}
.ba-form-element .bar::before {
	content: '';
	height: 0.2em;
	width: 0;
	left: 0%;
	bottom: -0.2em;
	position: absolute;
	background: var(--primary-color);
	z-index: 2;
	-webkit-transition:
		left var(--animation-duration-medium-open) var(--animation-easing-linear),
		width var(--animation-duration-medium-open) var(--animation-easing-linear);
	transition:
		left var(--animation-duration-medium-open) var(--animation-easing-linear),
		width var(--animation-duration-medium-open) var(--animation-easing-linear);
}
.ba-form-element input,
.ba-form-element textarea {
	display: block;
	padding: 0 1em 0.6em;
	border-width: 0;
	border-color: transparent;
	line-height: 1.9;
	width: 100%;
	color: var(--text1);
	box-shadow: none;
	background: var(--header-background-color);
	border-top: 1.5em solid var(--header-background-color);
}
.ba-form-element select {
	border-bottom: 0;
	background: var(--header-background-color);
	font-size: 1.1rem;
	padding: 1.5em 1em 0.6em;
	box-shadow: none;
	background-image: url('./assets/caret-down-fill.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 1em) center;
	background-size: 1em;
}
.ba-form-element select:focus {
	background-image: url('./assets/caret-up-fill.svg');
}

.ba-form-element select:invalid ~ .control-label,
.ba-form-element input:placeholder-shown ~ .control-label,
.ba-form-element textarea:placeholder-shown ~ .control-label {
	font-size: 1.1rem;
	top: 1.2em;
	left: 0.9em;
	color: var(--text2);
}

.ba-form-element input:focus ~ .control-label,
.ba-form-element textarea:focus ~ .control-label {
	font-size: 0.8rem;
	color: var(--text2);
	top: 0.4em;
	left: 1.2em;
}
.ba-form-element select:focus ~ .control-label,
.ba-form-element input:focus ~ .control-label,
.ba-form-element textarea:focus ~ .control-label {
	color: var(--text4);
}
.ba-form-element select:focus ~ .bar::before,
.ba-form-element input:focus ~ .bar::before,
.ba-form-element textarea:focus ~ .bar::before {
	width: 100%;
	left: 0;
}
.ba-form-element.userVisited input:invalid ~ .bar::before,
.ba-form-element.userVisited textarea:invalid ~ .bar::before,
.ba-form-element.userVisited select:invalid ~ .bar::before {
	width: 100%;
	left: 0;
	background: var(--error-color);
}
.ba-form-element.userVisited input:invalid ~ .control-label,
.ba-form-element.userVisited textarea:invalid ~ .control-label {
	color: var(--error-color);
}
.ba-form-element.userVisited input:invalid ~ .helper-label,
.ba-form-element.userVisited textarea:invalid ~ .helper-label {
	display: none;
}

.ba-form-element.userVisited input:invalid ~ .error-label,
.ba-form-element.userVisited textarea:invalid ~ .error-label {
	display: block;
	color: var(--error-color);
}
.ba-form-element input:invalid ~ .error,
.ba-form-element textarea:invalid ~ .error {
	opacity: 1;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('./assets/exclamationcircle.svg');
}
.ba-form-element.userVisited .icon {
	font-size: 2em;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 2em;
	width: 1.8em;
	background-size: 0.7em;
	color: var(--text1);
}
.ba-form-element .check .icon {
	background: var(--sucess-color);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('./assets/checkcircle.svg');
}
.ba-form-element .icon:focus {
	opacity: 1;
}
.ba-form-element .clear {
	background: var(--primary-bg--color);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('./assets/xcircle.svg');
}
.ba-form-element .select-icon {
	font-size: 1.5em !important;
	opacity: 1 !important;
	background: var(--primary-bg--color);
	background-image: url('./assets/caret-down-fill.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 0.5em) center;
	width: 2em !important;
}
.ba-form-element .hint {
	padding: 1em 0;
	width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--text1);
	-webkit-box-shadow: 0 0 0px 40rem var(--header-background-color) inset;
}

/* 
   helper
*/
.hide {
	display: none !important;
}
