.ba-list-item {
	display: flex;
	cursor: pointer;
	list-style: none;
}
.ba-list-item:focus-visible {
	box-shadow: Inset 0 0 0 .2em var(--primary-color-lighter);
}
.ba-list-item b {
	color: var(--primary-color);
}
.ba-list-item:hover {
	background: var(--header-background-color);
}
.ba-list-item > * {
	padding-top: .8em;
	padding-bottom: .8em;
}
.ba-list-item > *:first-child {
	padding-left: 1.5em;
}
.ba-list-item > *:last-child {
	padding-right: 1.5em;
}
.ba-list-item__pre {
	display: flex;
	margin: 0 1em 0 0;
}
.ba-list-item__after {
	display: flex;
	margin: 0 0 0 1em;
}
.ba-list-item__icon {
	mask: url('../../assets/subtract.svg');
	-webkit-mask-image: url('../../assets/subtract.svg');
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin: auto;
	height: 1.2em;
	width: 1.2em;
	font-size: 1rem;
	background: var(--text2);
	margin-right: .5em;
}
.ba-list-item:hover .ba-list-item__icon {
	background: var(--primary-color);
}
.ba-list-item__text {
	flex-grow: 1;
}
.loading {
	border: none;
	outline: none;
	position: relative;
	background-color: var(--header-background-color);
	overflow: hidden;
}
.loading span {
	position: relative;
}
.loading::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: repeating-linear-gradient(60deg, 
	transparent, 
	transparent 0.75rem, 
	rgba(255,255,255,.4) 0.75rem, 
	rgba(255,255,255,.4) 1.5rem);
	animation: load .8s infinite linear;
}
@keyframes load {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-1.75rem);
	}
}
