.georesource-label {
	display: flex;
	border: 0;
	width: 100%;
	background: var(--primary-bg-color);
	text-align: left;
	cursor: pointer;
}
.georesource-results-panel {
	border-left: 0.3em var(--border1-style) var(--primary-bg-color);
}
.georesource-results-panel:hover {
	border-left: 0.3em var(--border1-style) var(--secondary-color);
}
.georesource-label__text {
	font-weight: bold;
	padding: 0.8em 1.5em 0.8em 1.3em;
	flex-grow: 1;
}
.georesource-results-panel:hover .georesource-label__text {
	color: var(--primary-color);
}
.georesource-label:focus-visible {
	box-shadow: Inset 0 0 0 0.2em var(--primary-color-lighter);
}
.georesource-items {
	overflow: hidden;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linear);
}
.divider {
	border-bottom: var(--border1-width) var(--border1-style) var(--border1-color);
}
.show-all {
	padding: 0.8em 1.5em;
	cursor: pointer;
	background: var(--primary-bg-color);
	width: 100%;
}
.show-all.hidden {
	display: none;
}
.show-all:hover {
	color: var(--primary-color);
}
.show-all:focus-visible {
	box-shadow: Inset 0 0 0 0.2em var(--primary-color-lighter);
}
.hidden {
	max-height: 0;
	display: none;
}
.ba-key-nav-item_highlight::part(background) {
	background: var(--header-background-color);
	box-shadow: Inset 0 0 0 0.2em var(--primary-color-lighter);
}
.ba-key-nav-item_highlight {
	display: block;
}
.results-count {
	display: flex;
	align-items: center;
	width: 2.8em;
	font-weight: bold;
	color: var(--text4);
}
ba-button::part(button) {
	text-align: start;
	padding-left: 4.6em;
	font-size: 0.9rem;
}
ba-button::part(icon) {
	left: 0.8em;
	scale: 0.8;
	top: 0.2em;
}
