/* Modal Content */
.modal__background {
	--upside: 0%;
	position: fixed;
	z-index: var( --z-modal);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--modal-background-color);
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linea);  
}
.modal__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0 1em;
}

.is-landscape.modal__container {
	position: absolute;
}

.is-landscape .modal {
	--upside: -5%;
	background-color: var(--primary-bg-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	z-index: calc(var(--z-modal) + 10);
	min-width: 38.2vw;
	margin: auto;
}

.is-portrait .modal {
	--upside: -5%;
	background-color: var(--primary-bg-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	z-index: calc(var(--z-modal) + 10);
	min-width: 100vw;
	min-height: 100vh;
}

.modal__title {
	display: flex;
	position: sticky;
	z-index: calc(var(--z-modal) + 20);
	top: 0;
	padding: 1em .5em;
	background-color: var(--primary-bg-color); 
	border-bottom: 1px solid var(--header-background-color);
}
.modal__title-text {
	font-size: 1.7rem;
	margin: auto .5em;
}

.modal__content {
	padding: .8em 1.5em;
	/* max-height: 60vh; */
	overflow-y: auto;
}
.modal__actions {
	padding: .8em 1.5em;
	font-weight: bold;
	border-top: 1px solid var(--header-background-color);  
	display: flex;
	justify-content: flex-end;
}
.modal_hide .modal, .modal_hide + div {
	animation-name: animateOut;
	animation-fill-mode: both;
	animation-duration: var(--animation-duration-large-close);
	animation-timing-function: var(--animation-easing-close);
}
.modal_show .modal, .modal_show + div {
	animation-name: animateIn;
	animation-fill-mode: both;
	animation-duration: var(--animation-duration-large-open);
	animation-timing-function: var(--animation-easing-open);
}
@keyframes animateIn {
	0% {
		opacity: 0;
		transform: translateY(var(--upside));
	}    
	100% {
		opacity: 1;
	}
}
@keyframes animateOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(var(--upside));
	}
}
