.baselayer__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0.8em 1.5em 0;
	background: var(--primary-bg-color);
	gap: 0.8em;
	overflow-x: hidden;
	overflow-y: hidden;
	scrollbar-width: none;
}

.baselayer__item {
	display: flex;
	flex-direction: column;
	position: relative;
}

.baselayer__button[type='primary'] {
	box-shadow:
		0px 0px 0px 0.1em var(--header-background-color),
		0px 0px 0px 0.3em var(--primary-color) !important;
}
.baselayer__button {
	border-radius: 1em;
	transform: scale(1);
	flex-grow: 1;
	width: 5.5em;
	max-width: 5.5em;
	height: 5em;
	max-height: 5em;
	transition: box-shadow var(--animation-duration-small-open) var(--animation-easing-linear);
	background: var(--secondary-bg-color);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	background-size: auto 100%;
	background-position: center center;
	cursor: pointer;
	user-select: none;
	border: var(--hc-border1);
}
.baselayer__button:hover,
.baselayer__button:focus-visible {
	z-index: 1;
	box-shadow:
		0px 0px 0px 0.1em var(--header-background-color),
		0px 0px 0px 0.3em var(--primary-color-lighter);
}
.baselayer__label {
	display: block;
	width: 5.7em;
	font-size: 0.8rem;
	margin: auto;
	margin-top: 0.7em;
}
.baselayer__button:hover .baselayer__label,
.baselayer__button:focus-visible .baselayer__label {
	display: block;
}
.baselayer__button[type='primary'] .baselayer__label {
	display: block;
	background: var(--primary-color);
	color: var(--text3);
}
.baselayer__button[type='primary'] .baselayer__label:after {
	display: block;
	border-color: transparent transparent var(--primary-color) transparent;
}

ba-badge {
	position: absolute;
	right: 0em;
	top: -0.5em;
	z-index: 2;
}

.fallback {
	background: var(--secondary-bg-color);
}
.atkis {
	background-image: url('assets/1.webp');
}
.luftbild_labels {
	background-image: url('assets/2.webp');
}
.tk {
	background-image: url('assets/3.webp');
}
.historisch {
	background-image: url('assets/4.webp');
}
.atkis_sw {
	background-image: url('assets/5.webp');
}
.tpo {
	background-image: url('assets/6.webp');
}
.tpo_mono {
	background-image: url('assets/7.webp');
}
.bmde_vector {
	background-image: url('assets/1.webp');
}
.bmde_vector_relief {
	background-image: url('assets/1.webp');
}
.vt_standard {
	background-image: url('assets/8.webp');
}
.vt_luftbild {
	background-image: url('assets/9.webp');
}
.vt_nacht {
	background-image: url('assets/10.webp');
}
.vt_grau {
	background-image: url('assets/11.webp');
}
.vt_wandern {
	background-image: url('assets/12.webp');
}
.vt_radln {
	background-image: url('assets/13.webp');
}
.zeitreihe_tk {
	background-image: url('assets/14.webp');
}
.topplusopen {
	background-image: url('assets/6.webp');
}
.vt_basemap_world {
	background-image: url('assets/20.webp');
}
.by_style_winter {
	background-image: url('assets/15.webp');
}
.vt_oepnv {
	background-image: url('assets/16.webp');
}
.luftbild_parz {
	background-image: url('assets/17.webp');
}
.tk_parz {
	background-image: url('assets/19.webp');
}
.baselayer__button[title='ALKIS-Flurkarte (Farbe)'] {
	background-image: url('assets/18.webp');
}
