.title {
    font-weight: bold;
    padding:.8em 1.5em;
}
.baselayer__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:.8em 1.5em;
    
}
 .baselayer__button[type="primary"]{
    transform: scale(1.1);
    z-index:1;
}
.baselayer__button{
    border-radius:0em;
    transform: scale(1);
    flex-grow: 1;   
    width: auto;
    height: 5em;
    transition: transform 0.3s ease-out;    
    background: var(--secondary-bg-color);
    background-image: url('assets/baselayer.webp');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.baselayer__button:hover{
    transform: scale(1.3);
    z-index:2;
}
.baselayer__label{
    display: none;
    font-size: .6rem;
    padding: .3em;
    position: absolute;
    background: var(--secondary-color);
    color: var(--text-default-color);
    opacity: 1;
    z-index: 1;
    text-align: center;
    min-width: 100%;
    bottom: 0em;
    user-select:0;
}
.baselayer__button:hover .baselayer__label{
    display: block;
}
.baselayer__button[type="primary"] .baselayer__label{
    display: block;
    background: var(--primary-color);
}
.baselayer__button[type="primary"] .baselayer__label:after{
    display: block;
    border-color: transparent transparent var(--primary-color) transparent;
}
.baselayer__label:after {
    content: '';
    position: absolute;
    border-width: 0.8em;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    left: 50%;
    margin-left:-.8em;
    top: -1.5em;
}
.fallback{
    background-position: 0px 0px;
}
.atkis{
    background-position: 0px 0px;
}
.luftbild_labels{
    background-position: 344px 0px;
}
.tk{
    background-position: 540px 0px;
}
.historisch{
    background-position: 182px 0px;
}
.atkis_sw{
    background-position: 719px 0px;
}