.badge {
	display: inline-flex;
	align-items: center;
	border-radius: 2em;
	padding: 0.2em 0.5em;
}
.icon {
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
}
.text {
	font-weight: bold;
}
.icon + .text {
	margin-left: 0.2em;
}
.icon + .text:empty {
	margin-left: 0em;
}
