.icon {
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 1em;
	width: 1em;
}

.badge {
	display: inline-block;
	border: none;
	border-radius: 2em;
	padding: 0.2em 0.5em;
	font-size: 0.8rem;
	font-weight: bold;
	margin: auto;
}
