.context-link__container{
	position: absolute;
	top: .8em;
	left: 7.5em;
	display:flex;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linea);  
	margin-left: 0;
	z-index: calc(var(--z-header) + 20)
}

.is-portrait .context-link__container{
    top: unset;
    left: 0em;
    bottom: 4em;
    justify-content: right;
    padding: 1em;
    z-index: calc(var(--z-footer) + 10);
	font-size:.7rem;
}

.is-portrait .context-link__link{
	/* font-size:.7rem; */
}
.is-portrait .context-link__link-text{
	display:none;
}

.is-desktop .is-open, .is-tablet .is-open{
	transform: translate(28em, 0);
	margin-left: -6.5em;
}

.context-link__link{
	font-size:.9rem;
	display:flex;
	border: none;
	border-radius: 2em;
	padding: .5em 0.9em;
	background: var(--info-color);
	background: var(--primary-bg-color);
	cursor: pointer;
	text-decoration: none;
	margin-right:1em;
	margin:auto;
	margin-right: 6em;
	
}

.context-link__link *{
	opacity: .8;
}

.context-link__link:hover *{
	opacity: 1;
}

.context-link__link-text{
	font-weight: bold;
	color: #fff;
	color: var(--primary-color);
	margin: auto .5em;
}

.context-link__link-icon{
	display: inline-block;
	height:1.1em;
	width:1.1em;
	background: #fff;
	background: var(--primary-color);
	mask: url('assets/chatdots.svg');
	-webkit-mask-image: url('assets/chatdots.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
	left: 0.7em;	
}