.bottom-sheet {
	background-color: var(--primary-bg-color);   
	box-shadow: 3px 0px 4px rgb(0 0 0 / 50%);
	display: flex;
	flex-direction: column;
	padding: 0.8em 1.5em;
	min-width: 25em;
	pointer-events: all;
	color: var(--text3);
	margin: 0 0 0 0;
	animation-name: animateIn;
	animation-fill-mode: both;
	animation-duration: var(--animation-duration-medium-open);
	animation-timing-function: var(--animation-easing-open);
	transition-property: margin;
	transition-duration: var(--animation-duration-large-open);
	transition-timing-function: var(--animation-easing-linea);   
}

.is-open {
	margin: 0 0 0 28em;	
}

.notification_item_hide {
	animation-name: animateOut;
	animation-fill-mode: both;
	animation-duration: var(--animation-duration-medium-close);
	animation-timing-function: var(--animation-easing-close);
}
@keyframes animateIn {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;   
	}
}
@keyframes animateOut {
	0% {
		opacity: 1;   
	}
	100% {
		opacity: 0;      
		transform: translateY(200%);
	}
}
