*{
    --h-ba: 	    30;
    --h-bvv:        60;
    --h-pl_bau:     90;
    --h-infra:      120;
    --h-nage:	    150;
    --h-umwe:       180;
    --h-sch_sp:     210;
    --h-zeitr:      240;
    --h-heimat3d:   270;
    --h-vwas:       300;
    --h-eab:        330;
    --h-plus:       360;

    --s-light:      70%;
    --s-dark:       60%;

    --l-light:      70%;
    --l-dark:       40%;

    --ba-light: 	   hsla(var(--h-ba), var(--s-light), var(--l-light), 100%);
    --ba-darker: 	   hsla(var(--h-ba), var(--s-dark), var(--l-dark), 100%);

    --bvv-light: 	   hsla(var(--h-bvv), var(--s-light), var(--l-light), 100%);
    --bvv-darker: 	   hsla(var(--h-bvv), var(--s-dark), var(--l-dark), 100%);

    --pl_bau-light:    hsla(var(--h-pl_bau), var(--s-light), var(--l-light), 100%);
    --pl_bau-darker:   hsla(var(--h-pl_bau),var(--s-dark), var(--l-dark), 100%);

    --infra-light: 	   hsla(var(--h-infra), var(--s-light), var(--l-light), 100%);
    --infra-darker:    hsla(var(--h-infra), var(--s-dark), var(--l-dark), 100%);

    --nage-light: 	   hsla(var(--h-nage), var(--s-light), var(--l-light), 100%);
    --nage-darker: 	   hsla(var(--h-nage), var(--s-dark), var(--l-dark), 100%);

    --umwe-light: 	   hsla(var(--h-umwe), var(--s-light), var(--l-light), 100%);
    --umwe-darker: 	   hsla(var(--h-umwe), var(--s-dark), var(--l-dark), 100%);

    --sch_sp-light:    hsla(var(--h-sch_sp), var(--s-light), var(--l-light), 100%);
    --sch_sp-darker:   hsla(var(--h-sch_sp), var(--s-dark), var(--l-dark), 100%);

    --zeitr-light: 	   hsla(var(--h-zeitr), var(--s-light), var(--l-light), 100%);
    --zeitr-darker:    hsla(var(--h-zeitr), var(--s-dark), var(--l-dark), 100%);

    --heimat3d-light:  hsla(var(--h-heimat3d), var(--s-light), var(--l-light), 100%);
    --heimat3d-darker: hsla(var(--h-heimat3d), var(--s-dark), var(--l-dark), 100%);

    --vwas-light: 	   hsla(var(--h-vwas), var(--s-light), var(--l-light), 100%);
    --vwas-darker: 	   hsla(var(--h-vwas), var(--s-dark), var(--l-dark), 100%);

    --eab-light: 	   hsla(var(--h-eab), var(--s-light), var(--l-light), 100%);
    --eab-darker: 	   hsla(var(--h-eab), var(--s-dark), var(--l-dark), 100%);

    --plus-light: 	   hsla(var(--h-plus), var(--s-light), var(--l-light), 100%);
    --plus-darker: 	   hsla(var(--h-plus), var(--s-dark), var(--l-dark), 100%);
}

 .light-theme{
    --topic-theme-ba: var(--ba-darker);
    --topic-theme-bvv: var(--bvv-darker);
    --topic-theme-pl_bau: var(--pl_bau-darker);
    --topic-theme-infra: var(--infra-darker);
    --topic-theme-nage:var(--nage-darker);
    --topic-theme-umwe: var(--umwe-darker);
    --topic-theme-sch_sp: var(--sch_sp-darker);
    --topic-theme-zeitr: var(--zeitr-darker);
    --topic-theme-heimat3d:var(--heimat3d-darker);
    --topic-theme-vwas: var(--vwas-darker);
    --topic-theme-eab: var(--eab-darker);
    --topic-theme-plus: var(--plus-darker);
}

.dark-theme{
    --topic-theme-ba: var(--ba-light);
    --topic-theme-bvv: var(--bvv-light);
    --topic-theme-pl_bau: var(--pl_bau-light);
    --topic-theme-infra: var(--infra-light);
    --topic-theme-nage:var(--nage-light);
    --topic-theme-umwe: var(--umwe-light);
    --topic-theme-sch_sp: var(--sch_sp-light);
    --topic-theme-zeitr: var(--zeitr-light);
    --topic-theme-heimat3d:var(--heimat3d-light);
    --topic-theme-vwas: var(--vwas-light);
    --topic-theme-eab: var(--eab-light);
    --topic-theme-plus: var(--plus-light);
}