.draggable {
	background-color: rgb(153, 209, 228);
	border: 1px solid black;
	padding: 10px;
}

.draggable.isdragged {
	opacity: 0;
}

.droppable {
	background-color: rgb(207, 127, 127);
	border: 1px solid black;
	padding: 10px;
}

.no-bullets {
	list-style: none;
}
