.export-item__content {
	display: flex;
	flex-direction: column;
}
.export-item__head {
	width: 17em;
	text-align: center;
	min-height: 10em;
	margin-bottom: 1.5em;
}
.export-item__label {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1em;
	position: relative;
}
.export-item__description {
	font-style: italic;
	padding-left: 0.5em;
	text-align: left;
}
.export-item__select {
	width: 100%;
	align-self: center;
}

.export-item__actions {
	display: flex;
	align-items: center;
	margin-top: 1em;
	background: var(--header-background-color);
}

ba-icon {
	align-self: center;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

ba-button {
	align-self: center;
	width: 100%;
}
.ba-form-element.disabled {
	background: var(--secondary-bg-color);
	background-image: none;
}
.ba-form-element.disabled select {
	background-image: none;
}
.ba-form-element.disabled .bar {
	opacity: 0;
}
#copy-button {
	position: relative;
	top: 0.3em;
}
