  /* Popup container */
  .popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: var(--primary-bg-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  /* .popup .popuptext::after {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 10px;
    bottom: -10px;
    box-sizing: border-box;
    content: " ";
    display: block;
    height: 20px;
    position: absolute;
    right: 1px;
    width: 10px;
    top: 40px;
    right: -9px;
  } */
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }