.ba-list-item {
	display: flex;
	cursor: pointer;
	list-style: none;
}
.ba-list-item:focus-visible {
	box-shadow: Inset 0 0 0 0.2em var(--primary-color-lighter);
}
.ba-list-item b {
	color: var(--primary-color);
}
.ba-list-item:hover {
	background: var(--header-background-color);
}
.ba-list-item > * {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}
.ba-list-item > *:first-child {
	padding-left: 1.5em;
}
.ba-list-item > *:last-child {
	padding-right: 1.5em;
}

.ba-list-item__pre {
	display: flex;
	margin: 0 1em 0 0;
}
.ba-list-item__after {
	display: flex;
	margin: 0 0 0 1em;
}
.ba-list-item__icon {
	mask: url('../../assets/geofill.svg');
	-webkit-mask-image: url('../../assets/geofill.svg');
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin: auto;
	height: 1.2em;
	width: 1.2em;
	font-size: 1rem;
	background: var(--text2);
	margin-right: 0.5em;
}
.ba-list-item:hover .ba-list-item__icon {
	background: var(--primary-color);
}
.ba-list-item__text {
	flex-grow: 1;
}
.chips__button {
	background: transparent;
	border: none;
	display: flex;
	padding: 0.5em 1em;
	cursor: pointer;
	text-decoration: none;
	flex-shrink: 0;
	font-size: 0.75rem;
	justify-content: center;
	align-items: center;
}
.chips__icon {
	height: 1.5em;
	width: 1.5em;
	position: relative;
	top: -0.1em;
	mask-size: cover;
	background: var(--text4);
}
.add .chips__icon {
	background: var(--success-color);
	mask: url('../../assets/star.svg');
	-webkit-mask-image: url('../../assets/star.svg');
	-webkit-mask-size: cover;
}
.remove .chips__icon {
	background: var(--error-color);
	mask: url('../../assets/starfilled.svg');
	-webkit-mask-image: url('../../assets/starfilled.svg');
	-webkit-mask-size: cover;
}
.chips__button.add:hover .chips__icon {
	background: var(--success-color);
	mask: url('../../assets/starfilled.svg');
	-webkit-mask-image: url('../../assets/starfilled.svg');
	-webkit-mask-size: cover;
}
