.ba-list {
	background-color: var(--tertiary-bg-color);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.ba-list:after {
	background-image: linear-gradient(180deg,  var(--tertiary-bg-color) 20%,  var(--primary-bg-color) 100%);
	height: 10em;
	content: "";
	position: absolute;
	bottom: -10em;
	left: -3em;
	right: -3em;
	margin: .5em 1px 0;
} 
.icon-share {
	background: var(--primary-bg-color);
	border-radius: 2em;
}

.collapse-content {
	padding: .8em 1em; 
}

.featureinfo-header {
	position: sticky;
	z-index: calc(var(--z-header) + 92);
	top: 0;
	background-color: var(--tertiary-bg-color);
	border-bottom: 1px solid var(--header-background-color);
}
.featureinfo-header:hover {
	background-color: var(--tertiary-bg-color);
	
}

/* not implemented yet  */
.icon-rotate-90 , .print , .share {
	display: none;
}

/* GetFeat styl  */

table , tr, td, th {
	border: 0;
	background: transparent;
	width: 100%;
}

a {
	word-break: break-all;
}

table {
	margin-bottom: 3em;
	position: relative;
}

table:not(:only-of-type):not(:last-child):after {
	content: " ";
	position: absolute;
	left: -1em;
	right: -1em;
	bottom: -1.5em;
	border-bottom: 1px dotted var(--header-background-color);
}

tr {
	padding: 0 0 .8em 0;
}

th, td {
	padding: .8em 1em;

}

.is-portrait table , .is-portrait tr, .is-portrait td, .is-portrait th {
	display: flex;
	flex-direction: column;
}

td:nth-last-child(2):first-child {
	opacity: .8;
	font-size: .9rem;
	font-weight: bold;
	color: var(--text1);
	min-width: 16em;
	max-width: 22em;
	width: auto;
	vertical-align: top;
}

.collapse-content b {
	font-size: .9rem;
	opacity: .8;
}

caption {
	text-align: left;
	padding: .8em 1em;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background: var(--header-background-color)
}

img {
	width: 100%;
	max-width: 25em;
	height: auto;
}

.ba-section:hover .ba-list-item__header .ba-list-item__text {
	color: var(--primary-color) .3;
}
