.stats-container {
	display: flex;
}

.stats-content {
	padding: 0.3em 0.5em .3em 0;
	font-size: .9rem;
	margin-top: 1.5em;
}

.stats-content span {
	/* font-weight: bold; */
	opacity: .8;
	margin-right: .5em;
}

.stats-polygon-length {
	margin-right: 1em;
}
