.stats-container {
	margin: 0;
}

.stats-content {
    padding: .3em 0;
    display: flex;
    justify-content: flex-start;
	flex-grow: 4;
}

.stats-content span {
    min-width: 7em;
	flex-grow: unset;
}

.stats-polygon-length {
	margin-right: 1em;
}
