.layer {
    padding: 2px;
    margin:2px;
    text-decoration-color: var(--secondary-color);
    background-color: var(--primary-bg-color); 
}

.layer-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.layer-label {
    padding:0px 10px;
}

.layer-body {
    display:none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.slider-container{
    background: var(--primary-bg-color);  
    padding: 0 5px;  
}

.opacity-slider{
    width:100%
}

.expand{
    display:block;
    max-height:50px;
    overflow: none;
    transition: max-height 0.2s ease-out;
}

.chevron {
    position: absolute;
    mask: url('assets/chevron-right.svg');
    -webkit-mask-image: url('assets/chevron-right.svg'); 
    mask-image: url('assets/chevron-right.svg')}

.icon {
    background: var(--primary-color);
    mask-size: cover;
    -webkit-mask-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 10px;
}

.icon:hover, .icon:focus {
    background: var(--map-button-bg-color);
}
  
.icon:hover {
  filter: brightness(.8);
}

.iconexpand {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}