.content {
	list-style-type: none;
	margin: 0;
	font-size: 1rem;
	padding: 0.3em 0 0.6em 0;
}

.content li {
	padding-bottom: 0.3em;
	display: flex;
	justify-content: flex-start;
}

.content li .label {
	min-width: 7em;
	margin: auto;
}

.content li .coordinate {
	flex-grow: 4;
	margin: auto;
}

.content li .icon {
	padding-left: 1em;
	margin: auto;
}

.content .single_row {
	display: flex;
	padding: 0.3em 0em;
}

.content .single_row .label {
	min-width: 7em;
	margin: auto;
}

.content .single_row select {
	width: 6em;
	margin: auto;
	margin-right: 1em;
}
.content .single_row .coordinate {
	flex-grow: 4;
	margin: auto;
}

.content .single_row .icon {
	padding-left: 1em;
	margin: auto;
}
