#select_scale {
	font-size: 1.3rem;
	width: auto;
	display: block;
	margin: 0 1em;
	position: relative;
	top: -0.2em;
}

.preview_button {
	width: 100%;
	padding: 0.8em 1.5em;
}

.button-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.button-container button {
	margin: 0.5em 0.8em;
	background: transparent;
	border: 1px solid var(--primary-color);
	font-weight: bold;
	color: var(--primary-color);
	transform: scale(1.2);
	transition: all var(--animation-duration-small-open) var(--animation-easing-close);
}

.button-container button::after {
	color: var(--primary-color);
}

.button-container button.active::after {
	color: var(--text3);
}

.button-container button:hover::after {
	color: var(--text3);
}

.button-container button:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}

.button-container button:hover {
	margin: 0.5em 0.8em;
	background: var(--secondary-color);
	border: 1px solid var(--primary-color);
	font-weight: bold;
	color: var(--text3);
	transform: scale(1.2);
}

.button-container button.active {
	margin: 0.5em 0.8em;
	background: var(--primary-color);
	border: 1px solid var(--secondary-color);
	font-weight: bold;
	color: var(--text3);
	transform: scale(1.2);
}

.a4_portrait {
	width: 2.1em;
	height: 2.97em;
}

.a4_portrait::after {
	content: 'A4';
}

.a4_landscape {
	height: 2.1em;
	width: 2.97em;
}

.a4_landscape::after {
	content: 'A4';
}

.a3_portrait {
	height: 4.2em;
	width: 2.97em;
}

.a3_portrait::after {
	content: 'A3';
}

.a3_landscape {
	height: 2.97em;
	width: 4.2em;
}

.a3_landscape::after {
	content: 'A3';
}

.separator {
	border-top: 1px solid var(--header-background-color);
	padding-top: 0.5em;
}

.tool-option {
	margin: 0 1em 1em;
}
