.draw-tool {
	position: absolute;
	z-index: var(--z-header);
	top: 0;
	right: 0;
	background: var(--primary-bg-color);
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
	margin: 0.2em;
}

.draw-tool__content {
	display: flex;
	justify-content: center;
	background: var(--primary-bg-color);
	flex-direction: column;
}

.draw-tool__actions {
	display: flex;
	border-top: 1px solid var(--header-background-color);
	margin-top: 0.5em;
}

.draw-tool__buttons {
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	background: var(--primary-bg-color);
	margin: 0 0 1em 0;
}

.draw-tool__buttons > button {
	position: relative;
	background: transparent;
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	color: rgba(255, 255, 255, 0.8);
	padding: 0 0.5em;
	border: 0;
	border-right: 1px dotted var(--header-background-color);
	font-size: 1.2rem;
}

.draw-tool__buttons > button:last-child {
	border-right: none;
}

.is-disabled {
	display: none;
}

.draw-tool__background {
	height: 0em;
	width: 0em;
	border-radius: 2.5em;
	position: absolute;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	left: 2.3em;
	transform: translate(-50%, -50%);
	top: 1.8em;
}

.is-active .draw-tool__background {
	height: 3.4em;
	width: 3.4em;
	background-color: var(--primary-color) !important;
	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.5),
		0 0 0 0.2em var(--primary-color-lighter);
}

.draw-tool__icon {
	background: var(--primary-color);
	-webkit-mask-size: cover;
	mask-size: cover;
	height: 2em;
	width: 2em;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	margin: 0.8em 0.8em;
	position: absolute;
}

.is-active .draw-tool__icon {
	background: var(--text3);
}

.draw-tool__button:hover:not(.disabled-tool__button) .draw-tool__background {
	height: 3.4em;
	width: 3.4em;
	background-color: var(--secondary-color);
}

.draw-tool__button:hover:not(.disabled-tool__button) .draw-tool__icon {
	background: var(--text3);
}

.draw-tool__button:focus-visible:not(.disabled-tool__button) .draw-tool__background {
	height: 3.4em;
	width: 3.4em;
	background-color: var(--secondary-color);
	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.5),
		0 0 0 0.2em var(--primary-color-lighter);
}

.draw-tool__button:focus-visible {
	box-shadow: none;
}

.draw-tool__button:focus-visible:not(.disabled-tool__button) .draw-tool__icon {
	background: var(--text3);
}

.draw-tool__button-text {
	font-size: 0.8rem;
	color: var(--text1);
	margin: 5.5em 0.3em 0.5em 0.3em;
	user-select: none;
	text-align: center;
	min-width: 5em;
}

.line {
	mask-image: url('assets/line.svg');
	-webkit-mask-image: url('assets/line.svg');
}

.symbol {
	mask-image: url('assets/symbol.svg');
	-webkit-mask-image: url('assets/symbol.svg');
}

.draw-tool-container {
	min-width: 20em;
}

.draw-tool__enable .draw-tool-container {
	display: block;
}
.draw-tool__disable .draw-tool-container {
	display: none;
}
.tool-container__close-button {
	margin: 0;
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	border: 0;
	background: var(--primary-bg-color);
	font-weight: bold;
	cursor: pointer;
	display: block;
	padding: 0.7em;
	position: absolute;
	right: 0;
	top: 0;
}
.tool-container__close-button:hover {
	background: var(--header-background-color);
}
.ba-tool-container__title {
	padding: 0.8em 1.5em;
	font-weight: bold;
}
.draw-tool__enable .draw-tool__enable-button {
	display: none;
}

.draw-tool__disable .draw-tool__disable-button {
	display: none;
}
