.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.iscollapsed {
	display: none;
}
.chevron {
	position: relative;
	mask: url('../assets/chevron-right.svg');
	-webkit-mask-image: url('../assets/chevron-right.svg');
	mask-image: url('../assets/chevron-right.svg');
}
.icon {
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	display: inline-block;
	height: 16px;
	width: 10px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all var(--animation-duration-large-open) var(--animation-easing-open);

	margin-right: 1em;
}
.iconexpand {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.geolocation-icon {
	mask: url('../assets/geolocation.svg');
	-webkit-mask-image: url('../assets/geolocation.svg');
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 1.6em;
	width: 1.6em;
	min-width: 1.6em;
	margin: 0 0.5em;
	border: none;
}
.warnings__logo-badge {
	border-radius: 2em;
	background: var(--secondary-color);
	color: var(--text3);
	padding: 0.1em 0.5em 0.2em;
	font-size: 0.8rem;
	transform: scale(1);
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	opacity: 1;
}
.warnings-selector {
	display: flex;
	justify-content: space-between;
	padding: 0.8em 1.5em;
	font-weight: bold;
	color: var(--text2);
	font-size: 0.9rem;
}
.warnings-selector:hover .icon {
	filter: brightness(0.8);
}
.item {
	display: flex;
	align-content: space-between;
}
button {
	width: 1rem;
	height: 1rem;
}
.warning_icon::before {
	content: '';
	mask: url('../assets/warning.svg');
	-webkit-mask-image: url('../assets/warning.svg');
	background: var(--warning-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	min-width: 1.5em;
	margin-right: 0.8em;
}
.hint_icon::before {
	content: '';
	mask: url('../assets/warning.svg');
	-webkit-mask-image: url('../assets/info.svg');
	background: var(--info-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	min-width: 1.5em;
	margin-right: 0.8em;
}
.highlight {
	display: flex;
	flex-grow: 1;
	padding: 1em 1.5em;
	align-items: center;
}
.highlight:hover {
	background-color: var(--header-background-color);
}
.overflow-container {
	padding: 0;
}
.noselect {
	flex-grow: 1;
}
