.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
.footer {
	position: fixed;
	display: flex;
	align-items: flex-end;
	z-index: var(--z-footer);
	bottom: 0.7em;
	left: 1em;
	transition: transform var(--animation-duration-large-open) var(--animation-easing-linear);
}
.content {
	display: flex;
	font-size: 0.8rem;
	background-color: color(from var(--primary-bg-color) srgb r g b / var(--alpha1));
	border-top: var(--hc-border1);
	border-bottom: var(--hc-border1);
	border-right: var(--hc-border1);
}
.is-open .footer {
	transform: translate(28em, 0);
}
.is-portrait .footer,
.is-tablet .footer,
.is-embedded .footer {
	bottom: 0;
	left: 0;
}
.is-embedded .footer {
	z-index: calc(var(--z-mapbuttons) + 1);
}
.is-landscape.is-open-navigationRail .footer {
	transform: translate(5em, 0);
}
.is-open.is-open-navigationRail .footer {
	transform: translate(33em, 0);
}
.is-portrait:not(.is-embedded) .content,
.is-tablet:not(.is-embedded) .content {
	display: none;
}
.is-embedded .content ba-map-info {
	display: none;
}
.is-desktop:not(.is-embedded) .content ba-privacy-policy {
	display: none;
}
.scale {
	position: absolute;
	top: -2em;
	background: var(--secondary-color);
	font-size: 0.7rem;
}
.is-portrait .scale,
.is-tablet .scale,
.is-embedded .scale {
	position: absolute;
	top: -2.2em;
	left: 1.1em;
}
.ol-scale-line-inner {
	padding: 0.2em 0.5em;
	color: var(--text5);
	font-weight: bold;
}
ba-base-layer-container {
	width: 20em;
	height: 3.1em;
	display: block;
	overflow: hidden;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	position: relative;
	left: -0.4em;
}
/* enables scrollIntoView */
.is-open ba-base-layer-container {
	height: 1px;
	visibility: hidden;
}
ba-base-layer-container::part(base-layer-switcher-container) {
	background: transparent;
	padding: 0.4em;
	gap: 0.6em;
	align-items: stretch;
	overflow: clip;
}
ba-base-layer-container::part(title) {
	display: none;
}
ba-base-layer-container::part(base-layer-switcher-button) {
	font-size: 0.9rem;
	width: 100%;
	border-radius: 0.5em;
	height: 2.3em;
	margin-top: 0.3em;
	position: relative;
	top: 0.1em;
}
ba-base-layer-container::part(base-layer-switcher-item) {
	flex-grow: 1;
}
ba-base-layer-container::part(base-layer-switcher-label) {
	display: none;
}
ba-base-layer-container::part(group) {
	display: none;
}
ba-base-layer-container::part(scroll-button) {
	display: none;
}
ba-base-layer-container::part(section),
ba-base-layer-container::part(container) {
	overflow: hidden;
}
