.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

.footer {
    position: fixed;
    z-index: var(--z-footer);
    bottom: 0;
    /* width:100%;        */
    transition: transform 0.3s ease-out;     
}
.content{
    margin-left:25em;
    font-size: .9rem;
    padding: 0;    
    background-color: var(--primary-bg-color-05);
}
.is-open {
    transform: translate(28em, 0);
 }

 .is-portrait .content{
     display: none;

}
ba-attribution-info{
    bottom:0;
    left:0;
    position: absolute;
}