.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
.footer {
	position: fixed;
	display: flex;
	align-items: flex-end;
	z-index: var(--z-footer);
	bottom: 0.7em;
	left: 1em;
	transition: transform var(--animation-duration-large-open) var(--animation-easing-linear);
}
.content {
	display: flex;
	font-size: 0.8rem;
	background-color: var(--primary-bg-color-05);
}
.is-open .footer {
	transform: translate(28em, 0);
}
.is-portrait .footer,
.is-tablet .footer,
.is-embedded .footer {
	bottom: 0;
	left: 0;
}
.is-embedded .footer {
	z-index: calc(var(--z-mapbuttons) + 1);
}
.is-landscape.is-open-navigationRail .footer {
	transform: translate(5.5em, 0);
}
.is-open.is-open-navigationRail .footer {
	transform: translate(33.5em, 0);
}
.is-portrait:not(.is-embedded) .content,
.is-tablet:not(.is-embedded) .content {
	display: none;
}
.is-embedded .content ba-map-info {
	display: none;
}
.is-desktop:not(.is-embedded) .content ba-privacy-policy {
	display: none;
}
.scale {
	position: absolute;
	top: -2em;
	background: var(--secondary-color);
	font-size: 0.7rem;
}
.is-portrait .scale,
.is-tablet .scale,
.is-embedded .scale {
	position: absolute;
	top: -2.2em;
	left: 1.1em;
}
.ol-scale-line-inner {
	padding: 0.2em 0.5em;
	color: var(--text3);
	font-weight: bold;
}
