.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

.footer {
    position: fixed;
    z-index: var(--z-footer);
    bottom: 0;
    background-color: var(--primary-bg-color-05);
    width:100%;   
    transition: transform 0.3s ease-out;     
}
.content{
    font-size: .9rem;
    padding: 0em .5em;
}
.is-open {
    transform: translate(28em, 0);
 }