.context-menu {
  display: none;
  position: fixed;
  z-index: 10;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.context-menu__item {
  display: flex;
  justify-content: space-between;
  background-color: var(--input-bg-color);
  color: var(--primary-color);
  padding: 5px;
  font-size: smaller;
}

.context-menu__shortCut {
  text-align: right;
  text-decoration: none;
  padding-left: 3px;
  font-style: italic
}

.context-menu__label {
  text-align: left;
  text-decoration: none;
}

.context-menu__item:hover {
  background-color: var(--primary-color);
  color: var(--color);
}