.credential_form {
	display: flex;
	justify-content: start;
	flex-direction: column;
	flex-grow: 1;
	margin: 2em;
	position: relative;
}

.credential_header {
	display: none;
	flex-grow: 1;
	margin-bottom: 2em;
	max-width: 29em;
}

.visible {
	display: flex;
	flex-direction: column;
}

.credential_header .value_url {
	font-weight: bold;
	/* overflow-wrap: break-word; */
}

.credential_header .title_url {
	margin: 0 0 0.5em;
	cursor: default;
	user-select: none;
	color: var(--text4);
}

.credential_form select {
	max-width: 28em;
}

.credential_custom_content {
	display: none;
	margin: 2em;
}

.credential_custom_content.visible {
	display: block;
}

.credential_footer {
	margin: 3em 2em 0 2em;
}

input[type='password'] {
	padding-right: 1.7em;
}

.password-icon {
	width: 1.7em;
	height: 1.7em;
	background-color: var(--text4);
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 1.2em;
}

.eyeslash {
	mask: url('../assets/eye-slash.svg');
	-webkit-mask-image: url('../assets/eye-slash.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}

.eye {
	mask: url('../assets/eye.svg');
	-webkit-mask-image: url('../assets/eye.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
	display: none;
}
