.credential_form {
	display: flex;
	justify-content: start;
	flex-direction: column;
	flex-grow: 1;
	margin: 2em;
	position: relative;
}

.credential_header {
	flex-grow: 1;
	margin-bottom: 2em;
}

.credential_header .value_url {
	font-weight: bold;
	word-break: break-all;
}

.credential_header .title_url {
	margin-right: 0.3em;
	cursor: default;
	user-select: none;
}

.credential_form select {
	max-width: 28em;
}

.credential_footer {
	margin: 3em 2em 0 2em;
}

input[type='password'] {
	padding-right: 1.7em;
}

.eye-slash {
	width: 1.7em;
	height: 1.7em;
	background-color: var(--text4);
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 1.2em;
	mask: url('../assets/eye-slash.svg');
	-webkit-mask-image: url('../assets/eye-slash.svg');
}

.eye-slash.eye {
	mask: url('../assets/eye.svg');
	-webkit-mask-image: url('../assets/eye.svg');
}
