.credential_container {
	max-width: 40em;
}

.credential_form {
	padding: .3em;
	display: flex;
	justify-content: start;
	flex-direction: column;
	flex-grow: 1;
	max-width: 10em;
	margin: auto;
}

.credential_header {
	flex-grow: 1;
	padding: 0.3em;
	font-style: italic;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.credential_header .value_url {
	padding-left: 0.3em;
	font-weight: 600;
}

.credential_header .title_url {
	cursor: default;
	user-select: none;
}

.credential_form select {
	flex-grow: 1;
}

.credential_footer {
	padding-top: 1.3em;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.eye-slash {
	width: 1.25em;
	height: 1.25em;
	margin-left: 8em;
	margin-top: -1.5em;
	background-color: var(--primary-color);
	cursor: pointer;
	mask: url('../assets/eye-slash.svg');
	-webkit-mask-image: url('../assets/eye-slash.svg');
}

.eye-slash.eye {
	mask: url('../assets/eye.svg');
	-webkit-mask-image: url('../assets/eye.svg');
}
