.zoom-to-extent-icon {
	mask: url("./assets/ba-icon.svg");
	-webkit-mask-image: url("./assets/ba-icon.svg");
}

.icon {
	background: var(--text3);
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
}

.zoom-to-extent-button {
	background-color: var(--primary-color);
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	border: none;
	outline: none;
	padding-top: 0.25em;
	transition: all var(--animation-duration-small-open) var(--animation-easing-open);  
}

.zoom-to-extent-button:hover,.zoom-to-extent-button:focus {
	transform: scale(1.1);
}
.zoom-to-extent-button:focus {
	box-shadow: 0 0 0 .2em var(--primary-color-lighter);
}

.zoom-to-extent-button:active {
	transform: scale(1.15);
	border: none;
}
