.zoom-buttons {
	display: flex;
	flex-direction: column;
}

.button {
	transition: all var(--animation-duration-small-open) var(--animation-easing-open);  
}

.button:focus {
	box-shadow: 0 0 0 .2em var(--primary-color-lighter);	
}

.zoom-buttons :first-child {
	margin: 0 0 .4em 0;  
}

.zoom-in {
	mask: url('assets/plus-circle-fill.svg');
	-webkit-mask-image: url('assets/plus-circle-fill.svg');
}

.zoom-out {
	mask: url('assets/dash-circle-fill.svg');
	-webkit-mask-image: url('assets/dash-circle-fill.svg');
}

.icon {
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
}

.button:hover,.button:focus {
	transform: scale(1.1);	
}

.button:active {
	transform: scale(1.15);
}

.zoom-buttons .button {
	background-color: var(--text3);
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	border: 0;
}
