:root,
:host {
	--map-interaction-container-bottom: 2.8em;
}
.map-interaction-button-container {
	position: fixed;
	z-index: var(--z-mapbuttons);
	bottom: var(--map-interaction-container-bottom);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	row-gap: 0.5em;
	column-gap: 0.3em;
	transition: all var(--animation-duration-large-open) var(--animation-easing-open);
}
.is-portrait.map-interaction-button-container {
	flex-direction: column;
}
ba-button {
	background: var(--text3);
	border-radius: 2em;
	overflow: hidden;
	width: 16em;
	pointer-events: all;
	transition: all var(--animation-duration-large-open) var(--animation-easing-open);
}
ba-button::part(button) {
	background-color: var(--info-color);
	font-size: 0.8rem;
}
ba-button::part(icon) {
	top: 0.2em;
}

.is-landscape.is-open-navigationRail ba-button.ui-center {
	margin-left: 5em;
}

.is-landscape.is-ope ba-button.ui-center {
	margin-left: 28em;
}

.is-landscape.is-open.is-open-navigationRail ba-button.ui-center {
	margin-left: 33em;
}
