.ba-overlay,
.help,
.static,
.floating {
	cursor: default;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--primary-bg-color);
	border: 1px solid var(--text2);
	border-radius: 0;
	color: var(--text1);
	padding: 0.3em 0.5em;
	font-size: 1rem;
}

.ba-overlay:after,
.static:after,
.floating:after {
	position: absolute;
	left: 50%;
	bottom: -0.375em;
	margin-left: -0.25em;
	content: '';
	border-top: 6px solid rgba(140, 140, 140, 0.9);
}

.draggable {
	cursor: move;
}
