#ol-map {
	width: 100%;
	height: 100%;
	position: fixed;
	background: var(--secondary-bg-color);
}

.grab {
	cursor: grab;
}

.dragging,
.grabbing {
	cursor: grabbing;
}

.ol-dragzoom {
	border: 2px solid var(--split-one-color);
	background-color: color(from var(--primary-color) srgb r g b / 0.2);
}
