.notification_item {
	animation-name: animateIn;
	animation-fill-mode: both;
	animation-duration: var(--animation-duration-medium-open);
	animation-timing-function: var(--animation-easing-open);
	background-color: var(--primary-bg-color);   
	box-shadow: 0px 0px 2px rgb(0 0 0 / 50%);
	display: flex;
	flex-direction: column;
	margin: .1em auto;
	padding: 0.8em 1.5em;
	width: -moz-min-content;
	width: min-content;
	min-width: 25em;
}

.notification_content {
	pointer-events: all;
	color: var(--text3);
}

.notification_content a {
	
	color: var(--text3);
}

.notification_level {
	font-weight: bold;
	color: var(--text3);
	margin-bottom: .2em;
}

.notification_fixed {
	border: .2em solid var(--primary-color);
}

.notification_info {
	background: var(--info-color);
}
.notification_warn {
	background: var(--warning-color);
}
.notification_error {
	background: var(--error-color);
}

.notification_item_hide {
	animation-name: animateOut;
	animation-fill-mode: both;
	animation-duration: var(--animation-duration-medium-close);
	animation-timing-function: var(--animation-easing-close);
}
@keyframes animateIn {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;   
	}
}
@keyframes animateOut {
	0% {
		opacity: 1;   
	}
	100% {
		opacity: 0;      
		transform: translateY(200%);
	}
}
