.extent-button {
  position: absolute;
  top: 250px;
  right: 0px;
  display: inline-block;
  vertical-align: top;
  /* background-color: var(--map-button-color); */
}

/* .extent-icon {
    background-color: var(--map-button-color);
} */
