.map-buttons-container{
    position: fixed;
    z-index:var(--z-mapbuttons);
    bottom: 5.5em;
    right: .5em;
    margin: 0 1.25em;
    display: flex;
    flex-direction: column;
}
.map-buttons-container > *{
    margin:  .2em 0; 
}
