.map-buttons-container {
	position: fixed;
	z-index: var(--z-mapbuttons);
	bottom: 5.7em;
	right: 0.4em;
	margin: 0 1.25em;
	display: flex;
	flex-direction: column;
}
.map-buttons-container > * {
	margin: 0.2em 0;
}
.is-portrait ba-zoom-buttons,
.is-portrait ba-extent-button,
.is-portrait ba-three-dimension-button {
	display: none;
}
.is-portrait > * {
	transform: scale(1.5);
	margin: 0 0 1.4em 0;
}
.map-buttons-container.is-portrait {
	bottom: 10.2em;
}
.is-portrait ba-rotation-button {
	margin-bottom: 2.2em;
}
.is-embedded > * {
	transform: scale(1);
	margin: 0.3em !important;
	font-size: 1.1rem;
}
.is-embedded.map-buttons-container {
	bottom: 1.5em;
	right: -0.5em;
}
.is-embedded ba-zoom-buttons {
	display: block;
}
.is-embedded ba-legend-button,
.is-embedded ba-extent-button,
.is-embedded ba-three-dimension-button {
	display: none;
}

.legend-icon {
	mask: url('assets/circle-dotted-letter-l.svg');
	-webkit-mask-image: url('./assets/circle-dotted-letter-l.svg');
	background: var(--text3);
}
.icon {
	mask-size: cover;
	-webkit-mask-size: cover;
	cursor: pointer;
	display: inline-block;
	height: 1.6em;
	width: 1.6em;
}
.inactive {
	background: var(--text3);
}
.active .legend-icon {
	background: var(--hc-color3, var(--text3));
	animation-name: stretch;
	animation-duration: 4s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
.denied.active .legend-icon {
	animation-name: none;
}
@keyframes stretch {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.2);
	}
	20% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}
.legend-button {
	background: var(--primary-color);
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	outline: none;
	padding-top: 0.2em;
	border: var(--hc-border2);
}
.legend-button.active {
	background: var(--hc-active, var(--error-color));
}
.legend-button.active.denied {
	background: var(--surface5-dark);
}
.legend-button:hover,
.legend-button:focus {
	transform: scale(1.1);
}
.legend-button:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.legend-button:active {
	transform: scale(1.15);
	border: none;
}
