.chips__container {
	position: fixed;
	display: flex;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linear);
	z-index: calc(var(--z-header) + 20);
	overflow: auto;
	width: fit-content;
	white-space: nowrap;
	padding: 0 1em 0.5em;
	border-radius: 2em;
}
/* Desktop */
.is-desktop.is-landscape.chips__container {
	left: 6em;
	right: 8em;
	max-width: calc(100% - 14em);
}
.is-landscape.chips__container.is-desktop.is-open {
	left: 28em;
	right: 8em;
	max-width: calc(100% - 36em);
}
.is-open-navigationRail.is-desktop.is-landscape.chips__container {
	left: 11.5em;
	right: 8em;
	max-width: calc(100% - 19.5em);
}
.is-open.is-open-navigationRail.is-desktop.is-landscape.chips__container {
	left: 33em;
	right: 8em;
	max-width: calc(100% - 41em);
}
/* Tablet */
.is-tablet.is-landscape.chips__container {
	left: 5em;
	right: 0;
	max-width: calc(100% - 5em);
}
.is-tablet.is-landscape.chips__container.is-open {
	left: 28em;
	right: 0;
	max-width: calc(100% - 28em);
}
.is-open-navigationRail.is-tablet.is-landscape.chips__container {
	left: 10em;
	right: 0;
	max-width: calc(100% - 10em);
}
.is-open.is-open-navigationRail.is-landscape.chips__container.is-tablet {
	left: 33em;
	right: 0;
	max-width: calc(100% - 33em);
}
/* Portrait */
.is-portrait.chips__container {
	top: 8em;
	left: 0;
	right: 0;
	z-index: calc(var(--z-mainmenu) - 10);
	max-width: 100%;
}
/* buttons */
.chips__button {
	pointer-events: all;
	background: var(--chip-background-color);
	border: 1px solid var(--chip-color);
	margin: 0.8em 0.5em 0 0;
	display: flex;
	margin-left: 0;
	border-radius: 2em;
	padding: 0.5em 0.9em;
	cursor: pointer;
	font-size: 0.8rem;
	text-decoration: none;
	flex-shrink: 0;
}
.is-tablet .chips__button {
	font-size: 0.8rem;
}
.chips__button:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.chips__icon {
	fill: var(--chip-color);
	height: 1.5em;
	width: 1.5em;
	position: relative;
	top: -0.1em;
}
.chips__button-text {
	color: var(--text1);
	font-weight: bold;
	margin: auto 0.5em;
}
.chips__button:hover .chips__button-text {
	color: var(--chip-color);
}
iframe {
	min-height: 50em;
	border: 0;
	width: 100%;
	min-width: 60em;
}
.is-portrait iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	min-height: auto;
	min-width: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
::-webkit-scrollbar {
	height: 0.3em;
}

.chips-fade-in {
	visibility: visible;
	opacity: 1;
	transition:
		visibility 0.8s,
		opacity 0.8s linear;
}

.chips-fade-out {
	visibility: hidden;
	opacity: 0;
	transition:
		visibility 0.8s,
		opacity 0.8s linear;
}
