.button-group {
	display: flex;
	padding: 0.8em 1.2em 0.8em;
	position: sticky;
	top: 0;
	background: var(--primary-bg-color);
	z-index: 1;
}
.button-group button {
	font-size: 0.9rem;
	padding: 0.4em 0.8em;
	background: transparent;
	color: var(--text1);
	font-weight: normal;
	border: 1px solid var(--primary-color);
	border-radius: 2em !important;
	margin-right: 0.5em;
}
.button-group button:first-child {
	border-radius: 2em 0 0 2em;
}
.button-group button:last-child {
	border-radius: 0 2em 2em 0;
}
.button-group button:hover {
	color: var(--text4);
}
.button-group button.is-active {
	background: var(--primary-color);
	border-radius: 2em;
	color: var(--text3);
}
.grid-layout.section {
	block-size: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	background: var(--primary-bg-color);
	padding-bottom: 0.5em;
}
.grid-layout .container {
	scroll-margin-top: 3.6rem;
	position: relative;
	scroll-snap-align: start;
	overscroll-behavior-y: contain;
	min-height: 25em;
	transition: height var(--animation-duration-large-open) var(--animation-easing-linear);
}
.grid-layout.grid-layout.container.is-active {
	height: auto;
}
.grid-layout.scroll-snap-x {
	overflow: auto auto;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	margin-right: 1px;
	scroll-margin-top: 20px;
}
.grid-layout.scroll-snap-x::-webkit-scrollbar {
	width: 0;
	height: 0;
}
