.row, .icons {
	display: flex;
}
.row  > *, .icons  > * {
	margin: 0 .5em;
}

p ,ul, h2, h3 {
	padding: .8em 0;
}

h2 {
	margin-top: 2em;
}

h3 {
	font-size: .8rem;
	margin-top: 1em;
	color: var(--text2);
}

li {
	list-style: none;
}
li:before {
	content: '-';
	margin-right: .5em;
	color: var(--primary-color);
}
.divider {
	border-bottom: 1px solid var(--header-background-color);
}

.example {
	padding: 2em;
	box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
	background: var(--tertiary-bg-color);
}

.section {
	padding: 1em;
}

#copyurlbutton {
	width: 25em;
}
