
/* NEU */
.header{
  position: fixed;
  z-index: var(--z-header);
  width: auto;
  min-width: 28em;
  padding: 2em 1em;
  top: 0;
  left: 0;
  background: var(--secondary-color);;
}
.header__button{
  margin: .8em 0 0 0 ;
  padding: .5em;
  font-size: .9em;
  border-radius: 2.5em;
  background-color: var(--primary-bg-color);
  color: rgb(58,132,195);
  font-weight: bold;
  border-color: rgb(58,132,195);
  border-style: solid;
  border-width: 2px;
}
.header__nav{
  position: absolute;
}
.header input{
  font-size: .9rem;
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  padding: .5em .5em;
}
.header__modal-button{   
  flex-shrink: 1;
  height: inherit;
  margin: 0;
  padding: 0 .5em;
}
.header__button-container{                             
  position: absolute;
  display: flex
}
.header__button-container button{
  height: 2em;
  margin: 0.8em 0 0 0;
  padding: .4em 0.6em;
  color: rgb(58,132,195);
  background: var(--primary-bg-color);
  border-color: rgb(58,132,195);
  border-width: 2px;
  border-style: solid;
}

.header__button-container button:first-child{
  border-radius:2em  0 0 2em;
  border-right:0;
}
.header__button-container button:nth-last-child(2){
  border-radius:0 2em 2em 0;
}
.header__button-container button:last-child{
  border-radius: 2em;
  margin-left: .8em;
}



.portrait .header{
  right: 0;
  min-width: inherit;
}







/* 



.header {
  display: none;
  position: fixed;
  z-index: var(--z-header);
  top: 0em;
  left: 0em;
  color: var(--primary-color);
  width: 28em;  
  background-color: var(--secondary-color);
  height: 6em;
}

.content {
  display: flex;
  justify-content: center;
}

.item0 {
  padding-top: 10px;
  flex-grow: 1;
  display: block;
}

.item1 {
  padding-right: 20px;
  padding-top: 12px;
  flex-grow: 60;
  display: block;
}

.item2 {
  position: absolute;
  padding-right: 10px;
  padding-top: 10px;
  flex-grow: 1;
  display: block;
}

.ci {
  float: left;
}

.menue-button {
  float: right;
}



.ci-text {
  display: block;
  padding-top: 5px;
  margin: 0;
  float: right;
  padding-right: 10px;
}


@media screen and (max-width: 600px) {
  
  .ci-text{
    display: none;
  }
  
}

.toggle-side-panel {
  position: relative;
  mask: url('assets/list.svg');
  -webkit-mask-image: url('assets/list.svg');
}

.icon {
  background: var(--primary-color);
  mask-size: cover;
  -webkit-mask-size: cover;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.icon-desktop {
  float: left;
}

.icon-mobile {
  float: right
}

.icon:hover {
  filter: brightness(.8);
}

.ci-logo {
  background: url('assets/logo.svg') no-repeat center;
  width: 61px;
  height: 32px;
  float: right;
}

@media (orientation: portrait){
  .header {
      width: 100%;
  }
} */