.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.header {
	position: fixed;
	z-index: var(--z-header);
	top: 0;
	left: calc(var(--width-mainmenu) * -1);
	width: auto;
	min-width: var(--width-mainmenu);
	padding: 7.5em 1em 2em 1em;
	border-bottom: 1px solid var(--header-background-color);
	transition: transform var(--animation-duration-large-open) var(--animation-easing-linear);
}
.header__background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--header-background-color);
	mask: url('assets/topography.svg');
	-webkit-mask-image: url('assets/topography.svg');
}
.header__logo {
	pointer-events: none;
	position: fixed;
	z-index: calc(var(--z-header) + 10);
	transition: transform var(--animation-duration-large-open) var(--animation-easing-linear);
}
.header__logo-badge {
	border-radius: 2em;
	padding: 0.2em 0.5em;
	z-index: calc(var(--z-header) + 10);
	position: absolute;
	font-size: 0.75rem;
	top: 1em;
	left: 5.3em;
	box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}
.header__logo-badge:empty {
	display: none;
}

.badge-default {
	background: var(--error-color);
	font-weight: bold;
	color: #fff;
}

.badge-signed-in {
	background: var(--roles-color);
	font-weight: bold;
	color: #fff;
}

.is-tablet .header__logo-badge {
	font-size: 0.5rem;
	left: 5.6em;
}
.header__text {
	position: relative;
	top: 0.5em;
	left: -28em;
	width: 26em;
	height: 6.5em;
	background-image: url('assets/header.svg');
	background-repeat: no-repeat;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linear);
}
.header__emblem {
	position: fixed;
	z-index: calc(var(--z-mapbuttons) + 10);
	top: 1.5em;
	right: 0em;
	height: 4em;
	width: 8em;
	background-image: url('assets/Coat_of_arms_of_Bavaria.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
.header__nav {
	position: absolute;
}
.header__button-container {
	position: absolute;
	display: flex;
}
.header__button-container button {
	margin: 0.8em 0 0 0;
	padding: 0.5em 0.9em;
	background: var(--primary-color);
	color: var(--text3);
	border-color: var(--primary-color);
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	font-weight: bold;
	position: relative;
	z-index: 1;
	min-width: 6.5em;
}
.header__button-container span {
	color: var(--text3);
	opacity: 0.8;
}
.is-active span {
	opacity: 1;
}
.header__button-container button:hover span {
	opacity: 1;
}
.header__button-container button:focus {
	z-index: 0;
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.header__button-container button:first-child {
	border-radius: var(--border-radius-button) 0 0 var(--border-radius-button);
	border-right: 1px dotted var(--primary-bg-color);
}
.header__button-container button:nth-last-child(2) {
	border-radius: 0 var(--border-radius-button) var(--border-radius-button) 0;
}
.header__button-container button:last-child {
	border-radius: var(--border-radius-button);
	margin-left: 0.8em;
}
.close-menu {
	position: absolute;
	right: 0;
	top: 0;
	background: var(--primary-bg-color);
	height: 2.7em;
	width: 2.7em;
	border-radius: 2em;
	border: 0;
}
.close-menu:hover {
	background: var(--header-background-color);
}
.resize-icon {
	background: var(--text2);
	display: block;
	height: 2em;
	width: 2.1em;
	margin: 0.2em;
	mask: url('assets/arrowBarLeft.svg');
	-webkit-mask: url('assets/arrowBarLeft.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}
.close-menu:focus {
	box-shadow: inset 0 0 0 0.2em var(--primary-color-lighter);
}
.arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: 0.9em;
	left: 0.2em;
	border-width: 0.5em;
	border-style: solid;
	border-color: transparent var(--text2) transparent transparent;
	opacity: 0.8;
}
.close-menu:hover .arrow {
	opacity: 1;
}
.is-portrait .close-menu {
	display: none;
}
.is-tablet .close-menu {
	top: 5em;
}
.badges {
	border-radius: 2em;
	background: var(--secondary-color);
	color: var(--text3);
	padding: 0.2em 0.5em;
	font-size: 0.8rem;
	position: absolute;
	top: -0.7em;
	right: 0;
	transform: scale(1);
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	opacity: 1;
}
.badges-signed-in {
	border-radius: 2em;
	background: var(--secondary-color);
	padding: 0em;
	font-size: 0.8rem;
	position: absolute;
	top: -0.7em;
	right: 0;
}
.badges-signed-in-icon {
	height: 1.6em;
	width: 1.6em;
	background: var(--text3);
	border-radius: 2em;
	mask: url('assets/person.svg');
	-webkit-mask: url('assets/person.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}
.header__button-container .is-active .badges {
	transform: scale(1);
}
.header__button-container button:hover .badges {
	transform: scale(1);
}
.action-button {
	pointer-events: all;
	position: fixed;
	z-index: calc(var(--z-toolbox) + 10);
	left: 0.6em;
	top: 0.9em;
	height: 6em;
	width: 6em;
	border-radius: 3.5em;
	background-color: var(--primary-bg-color);
	border: none;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	cursor: pointer;
}
.action-button:hover {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.action-button__border {
	position: absolute;
	top: 0;
	height: 6em;
	width: 6em;
	border-radius: 3em;
	background: linear-gradient(to right, rgb(58, 132, 195) 0%, rgb(65, 154, 214) 50%, rgb(75, 184, 240) 51%, rgb(58, 139, 194) 100%);
}
.action-button__icon {
	position: absolute;
	top: 0;
	z-index: calc(var(--z-toolbox) + 20);
	border: none;
	height: 5.4em;
	width: 5.4em;
	margin: 0.3em;
	background: var(--primary-bg-color);
	border-radius: 2.7em;
}
.ba {
	height: 5.4em;
	width: 5.4em;
	margin: 0.3em 0.6em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5.4em 5.4em;
	background-image: url('assets/ba.svg');
}
.animated-action-button__border {
	background: linear-gradient(to right, rgb(58, 132, 195) 0%, rgb(65, 154, 214) 50%, rgb(75, 184, 240) 51%, rgb(58, 139, 194) 100%);
	animation: spin 0.9s linear infinite;
	animation-play-state: paused;
}
@keyframes spin {
	100% {
		transform: rotateZ(360deg);
	}
}
.animated-action-button__border__running {
	animation-play-state: running;
}
.open-search-button {
	border-radius: var(--border-radius-button) 0 0 var(--border-radius-button);
	border: 0;
	width: 3.1em;
	z-index: 4;
	background: var(--secondary-bg-color);
}
.open-search-button svg {
	fill: var(--text1);
	width: 2em;
	height: 2em;
}
.button_search_icon {
	display: block;
	background: var(--text1);
	height: 1.4em;
	width: 1.4em;
	margin: 0.5em 0.6em 0.5em 0.8em;
	mask: url('assets/search.svg');
	-webkit-mask: url('assets/search.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
	left: 0;
	z-index: 1;
}
.open-search-button:hover .button_search_icon,
.open-search-button:focus .button_search_icon {
	background: var(--text4);
}
.header__search {
	display: block;
	font-size: 0.9rem;
	width: 100%;
	padding: 0.5em 0.5em 0.5em 0;
	z-index: 2;
	background: var(--secondary-bg-color);
	border: none;
	border-radius: 0;
}
.header__search::placeholder {
	color: var(--text2);
}
.header__search-clear {
	display: none;
	height: auto;
	justify-content: center;
	align-items: center;
	border: 0;
	min-width: 2.6em;
	right: 3em;
	background: var(--secondary-bg-color);
	z-index: 1;
}
.header__search-clear .icon {
	height: 1.5em;
	width: 1.5em;
	mask: url('assets/clear.svg');
	-webkit-mask: url('assets/clear.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
	background: var(--text1);
}
.header__search-clear .border {
	border-left: 1px dotted var(--text2);
	display: flex;
	height: 1.5em;
	width: 2.6em;
	align-items: center;
	justify-content: center;
}
.header__search-clear:focus .icon,
.header__search-clear:hover .icon {
	background: var(--text4);
}
.is-clear-visible {
	display: flex;
}
.header__routing-button {
	flex-shrink: 1;
	height: inherit;
	margin: 0;
	width: 3em;
	border-radius: 0 var(--border-radius-button) var(--border-radius-button) 0;
	background: var(--primary-color);
	color: var(--text2);
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	font-weight: bold;
	background-position: 0.1em;
	padding: 0 0.3em 0 0.2em;
	border: 0.5em solid var(--primary-color);
	z-index: 0;
}
.routing-icon {
	display: block;
	opacity: 0.8;
	background: var(--text3);
	width: 1.5em;
	height: 1.5em;
	mask: url('assets/direction.svg');
	-webkit-mask: url('assets/direction.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}

.header__routing-button:hover .routing-icon,
.header__routing-button:focus .routing-icon {
	opacity: 1;
}

.header__routing-button:hover {
	opacity: 1;
}
.header__routing-button:focus {
	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.5),
		0 0 0 0.2em var(--primary-color-lighter);
}

.is-portrait .header {
	left: 0;
	right: 0;
	padding: 2em 1em 2em 1em;
	background-color: var(--primary-bg-color);
	min-width: inherit;
}
.is-portrait .header__logo {
	display: none;
}
.is-tablet .header__logo {
	transform: translate(1em, 0);
	font-size: 0.7rem;
}
.is-tablet .header__emblem {
	display: none;
}
.is-tablet .header {
	padding: 2em 1em 2em 1em;
}
.header__search-container {
	display: flex;
	position: relative;
	justify-content: flex-end;
	border-radius: var(--border-radius-button);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	transition: all var(--animation-duration-small-open) var(--animation-easing-linear);
}
.is-portrait .header__search-container {
	font-size: 1.1rem;
	box-shadow: none;
}
.is-tablet .header__search-container {
	box-shadow: none;
}
.header__text-mobile {
	z-index: calc(var(--z-header) + 10);
	position: fixed;
	top: -0.9em;
	width: 26em;
	left: -7em;
	height: 6.5em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22.7em;
	background-image: url('assets/header.svg');
	display: none;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linear);
}
.is-portrait .header__text-mobile {
	left: -7em;
	display: block;
}

.is-portrait .header__search,
.is-tablet .header__search {
	width: 0;
	padding: 0.5em 0 0.5em 0;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linear);
}
.is-portrait .header__search:focus,
.is-tablet .header__search:focus {
	width: 100%;
	padding: 0.5em 0.5em 0.5em 0;
}
.is-demo .header__text-mobile,
.is-demo .header__text {
	background-image: url('assets/demo-text.svg');
}
.is-demo .ba {
	margin: 0;
	background-image: url('assets/rocket.svg');
}
.is-demo .header__emblem {
	display: block;
	background-image: url('assets/github.svg');
	top: 0;
	right: 0;
	width: 10em;
	height: 10em;
	background-color: transparent;
	border-color: var(--primary-bg-color);
}
.is-demo.is-portrait .header__emblem {
	top: 6em;
}
.is-open .header__text,
.is-open .header__text-mobile,
.is-open .header {
	transform: translate(28em, 0);
}
.is-open-navigationRail.is-open .header,
.is-open-navigationRail.is-open .header__text-mobile {
	transform: translate(33.5em, 0);
}
.is-open-navigationRail .header__logo {
	transform: translate(6em, 0);
}
.is-tablet.is-open-navigationRail .header__logo {
	transform: translate(8.7em, 0);
}
.header__search-container:focus-within,
.is-landscape.is-desktop .header__search-container:hover {
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4) !important;
}
/* disable default clear search button */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}
