.profile {
	display: grid;
	grid-template-columns: minmax(10em, 1fr) 14em;
	column-gap: 1em;
	overscroll-behavior-inline: contain;
	padding-inline: 0.6em;
	scroll-padding-inline: 0.6em;
	padding-block: calc(0.3em / 2);
	scroll-snap-type: inline mandatory;
	height: 15em;
}
.is-portrait.profile {
	grid-template-columns: 100% 100%;
	overflow-x: auto;
	height: 16em;
}
.chart-container {
	height: 14em;
	width: 100%;
	scroll-snap-align: start;
	overflow: hidden;
}
.profile__data {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 0.5em;
	scroll-snap-align: start;
	overflow: hidden;
}
.is-landscape .profile__data {
	margin: 2.3em 0em 1em;
}
.profile__box {
	display: flex;
	flex-direction: column;
}
.is-portrai .profile__box {
	padding-left: 1em;
}
.profile__header {
	font-size: 0.8rem;
	min-height: 1.7em;
	text-wrap: balance;
}
.profile__content {
	display: flex;
}
.is-landscape .profile__text {
	font-size: 1.1rem;
	color: var(--text1);
}
.is-portrait .profile__text {
	font-size: 1.5rem;
	color: var(--text1);
}
.highest {
	mask: url('assets/chevron-up.svg');
	-webkit-mask: url('assets/chevron-up.svg');
}
.lowest {
	mask: url('assets/chevron-down.svg');
	-webkit-mask: url('assets/chevron-down.svg');
}
.up {
	mask: url('assets/arrow-down-right.svg');
	-webkit-mask: url('assets/arrow-up-right.svg');
}
.down {
	mask: url('assets/arrow-down-right.svg');
	-webkit-mask: url('assets/arrow-down-right.svg');
}
.height {
	mask: url('assets/arrow-down-up.svg');
	-webkit-mask: url('assets/arrow-down-up.svg');
}
.distance {
	mask: url('assets/arrow-left-right.svg');
	-webkit-mask: url('assets/arrow-left-right.svg');
}
.is-landscape .profile__icon {
	background: var(--text4);
	height: 1.2em;
	width: 1.2em;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin-right: 0.2em;
}
.is-portrait .profile__icon {
	background: var(--text4);
	height: 1.6em;
	width: 1.6em;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin-right: 0.2em;
}
.header {
	border-radius: 3em 0 0 0;
	display: flex;
	position: absolute;
	left: 0;
	top: -2.5em;
}
.header h3 {
	border-radius: 3em 0 0 0;
	display: flex;
	padding: 0.5em 1.1em 0.5em 3.5em;
	background: var(--primary-bg-color);
	box-shadow: 2px -2px 2px rgb(0 0 0 / 15%);
	color: var(--text1);
	border-right: 1px solid var(--header-background-color);
}
.header h3 .icon {
	left: 1.3em;
	top: 0.45em;
	height: 1.4em;
	width: 1.4em;
	display: inline-block;
	position: absolute;
	background: var(--text1);
	mask: url('./assets/profile.svg');
	-webkit-mask-image: url('./assets/profile.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}
.header ba-button {
	border-radius: 0;
	box-shadow: 2px -2px 2px rgb(0 0 0 / 15%);
}
.header ba-button::part(button) {
	padding: 0.8em 2.5em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 3px -2px inset;
	background: var(--header-background-color);
	font-size: 0.9em;
	opacity: 1 !important;
	cursor: pointer !important;
	color: var(--text1) !important;
}
.header ba-button:last-child::part(button) {
	border-radius: 0 3em 0 0;
}
.header ba-button:last-child {
	border-radius: 0 3em 0 0;
}
.header ba-button.active::part(button) {
	box-shadow: none;
	background: var(--primary-color) !important;
	color: var(--text3) !important;
}
.header ba-button::part(button):hover {
	background: var(--primary-color) !important;
	color: var(--text3) !important;
}
