.profile {
	display: grid;
	grid-template-columns: minmax(10em, 1fr) 14em;
	grid-column-gap: 1em;
	overscroll-behavior-inline: contain;
	padding-inline: 0.6em;
	scroll-padding-inline: 0.6em;
	padding-block: calc(0.3em / 2);
	scroll-snap-type: inline mandatory;
	height: 15em;
}
.is-portrait.profile {
	grid-template-columns: 100% 100%;
	overflow-x: auto;
	height: 16em;
}
.chart-container {
	height: 14em;
	width: 100%;
	scroll-snap-align: start;
	overflow: hidden;
}
.profile__data {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0.5em;
	scroll-snap-align: start;
	overflow: hidden;
}
.is-landscape .profile__data {
	margin: 2.3em 0em 1em;
}
.profile__options {
	width: 7em;
	display: block;
}
.profile__box {
	display: flex;
	flex-direction: column;
}
.is-portrai .profile__box {
	padding-left: 1em;
}
.profile__header {
	font-size: 0.8rem;
	min-height: 1.7em;
}
.profile__content {
	display: flex;
}
.is-landscape .profile__text {
	font-size: 1.1rem;
	color: var(--text1);
}
.is-portrait .profile__text {
	font-size: 1.5rem;
	color: var(--text1);
}
.highest {
	mask: url('assets/chevron-up.svg');
	-webkit-mask: url('assets/chevron-up.svg');
}
.lowest {
	mask: url('assets/chevron-down.svg');
	-webkit-mask: url('assets/chevron-down.svg');
}
.up {
	mask: url('assets/arrow-down-right.svg');
	-webkit-mask: url('assets/arrow-up-right.svg');
}
.down {
	mask: url('assets/arrow-down-right.svg');
	-webkit-mask: url('assets/arrow-down-right.svg');
}
.height {
	mask: url('assets/arrow-down-up.svg');
	-webkit-mask: url('assets/arrow-down-up.svg');
}
.distance {
	mask: url('assets/arrow-left-right.svg');
	-webkit-mask: url('assets/arrow-left-right.svg');
}
.is-landscape .profile__icon {
	background: var(--text4);
	height: 1.2em;
	width: 1.2em;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin-right: 0.2em;
}
.is-portrait .profile__icon {
	background: var(--text4);
	height: 1.6em;
	width: 1.6em;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin-right: 0.2em;
}
