select {
	width: auto;
	min-width: 6em;
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.oaf-filter {
	min-width: 20em;
	border: 1px solid var(--primary-color);
	background: var(--header-background-color);
	border-radius: 2em;
	align-items: center;
	padding: 0.3em;
	display: flex;
}

.title {
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 0.3em 0 1em;
	font-size: 1.1rem;
}

.input-operator {
	transition: transform var(--animation-duration-large-open) var(--animation-easing-linear);
	border-radius: 2em;
	overflow: hidden;
	display: block;
	width: auto;
	margin: 0 0.5em;
}

#select-operator {
	height: 2em;
	font-weight: bold;
	color: var(--primary-color);
	padding: 0.1em 1.5em 0.1em 0.5em;
	width: auto;
	min-width: 6em;
	border: none;
}

.input-value {
	background: var(--primary-bg-color);
}

.input-value select {
	padding: 0.4em 0.5em;
}

.min-value-input {
	border-right: none;
}

.max-value-input {
	border-left: 1px dotted var(--text1);
}

.value-input {
	border: none;
	height: 2em;
}

.value-input[type='text'] {
	background: var(--primary-bg-color);
	border: 1px solid var(--text2);
}

.remove-button {
	padding: 0.3em;
	position: relative;
	top: 0.1em;
}

.remove-button::part(button) {
	border-radius: 2em;
}
