.filter-group {
	display: flex;
	margin-top: 0.3em;
	border-bottom: 1px solid var(--header-background-color);
}

.select-container {
	min-width: 10em;
	display: flex;
}

.select-container .ba-form-element {
	margin: 0;
	width: 11em;
}

.filter-container {
	flex: 1.25;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
	margin-left: 0.5em;
}

.button-container {
	display: flex;
}

.remove-button::part(button) {
	height: 100%;
}

.duplicate-button::part(button) {
	height: 100%;
}
