.filter-group {
	background: #eee;
	border: 1px solid #333;
	padding: 20px;
	min-height: 150px;
}

#queryable-select {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
}

.btn-bar {
	display: flex;
	align-items: flex-end;
	justify-content: right;
	margin-bottom: 10px;
	ba-button {
		margin-left: 10px;
	}
}

.remove-button::part(button) {
	background-color: red;
	color: #fff;
}
.filter-container {
	display: flex;
	flex-wrap: wrap;
}

ba-oaf-filter {
	flex: 0 1 calc(20% - 4px);
	margin: 2px;
}
