.container {
	padding: 30px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-height: 350px;
	min-height: 350px;
	overflow-y: auto;
	gap: 20px;
}

.sticky-container {
	position: sticky;
}
