.layer {
    text-decoration-color: var(--secondary-color);
    /* background-color: var(--secondary-bg-color);  */
    border-left: .3em solid var(--primary-bg-color); 
}
.layer:hover{
    border-left: .3em solid var(--secondary-color); ;
}

.layer-content{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-out;    
}
.layer-content:hover{
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background: #f4f4f4; */
}

.is-dragabel{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background: #f4f4f4;
}

.layer-header{
    display: flex;   
    justify-content: space-between;
 }
 .layer-header > *{
    padding-top: .8em;
    padding-bottom: .8em;
 }
 .layer-header > *:first-child{
    padding-left: 1.5em;
 }
 .layer-header > *:last-child{
    padding-right: 1.5em;
    padding-left: 1.5em;
    cursor: pointer;
 }

.layer-header__pre{  
    display: flex;
    margin: 0 1em 0 0;
}

.layer-header__text{  
    flex-grow: 1;
    cursor: handl;
}

.layer-body {
    display: flex;   
    height:0em;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.layer-body__after{
    display: flex;
    flex-grow: 1;

    margin: 0 0 0 0em;
 }

.layer-body__pre{  
    width: 3.5em;
    display: flex;
    margin: 0 1em 0 0;
}

.layer-body__slider{  
    /* padding-top:1em; */
    /* flex-grow: 1; */
    width:70%;
}

.slider-container{
    margin-top:.3em;
}

.expand{
    height:5em;
}

.layer-buttons{
    padding-left:.5em;
    width:100%;
}

.layer-buttons ba-icon{
    background: var(--secondary-bg-color);
    display: inline-block;
    border-radius: 8em;
    width: 2em;
    height: 2em;
    margin-left:.3em;
    position: relative;
}
.layer-buttons ba-icon:hover{
    background:var(--header-button-bg-color);
}
#remove:hover{
    background: var(--error-color);
}
.layer-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.opacity-slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 0 .5em;
    height: .4em;
    border-radius: .2em;  
    background: var(--primary-color);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .opacity-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2em;
    height:  1.2em;
    border-radius: .6em;
    background: var(--primary-color);
    cursor: pointer;
  }
  
  .opacity-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2em;
    height:  1.2em;
    border-radius: .6em;
    background: var(--primary-color);
    cursor: pointer;
  }

  .divider {
    border-bottom: 1px solid var(--header-background-color);
 }