.layer {
    text-decoration-color: var(--secondary-color);
    background-color: var(--primary-bg-color); 
    /* margin: 0 1.5em; */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
    /* border:1px solid var(--header-background-color);     */
}
.layer:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    /* background: var(--header-background-color); */
    border-left: 5px solid #2c5a93;
}

.layer-header{
    display: flex;
    flex-direction: row;
    padding: .8em  1.5em;
}

.layer-actions{  
    margin-right:1.5em;
    background: var(--secondary-bg-color);
    /* height:3em;
    width:3em;
    border-radius:3em; */
}

.layer-actions .ba-icon{
    /* padding: 0px 5px; */
}


.layer-label {
    flex-grow: 1;
}

.layer-body {
    display:none;
    padding: .4em  1.5em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;     
}
.slider-container{
    background: var(--primary-bg-color);  
    width:80%;
    margin:auto;
}

.opacity-slider{
    width:100%
}

.expand{
    display:flex;
    max-height:50px;
    overflow: none;
    transition: max-height 0.2s ease-out;
}

.layer-move-buttons{
    width:20%;
    display: flex;
    flex-direction: row;
}

.layer-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.chevron {
    position: relative;
    mask: url('assets/chevron-right.svg');
    -webkit-mask-image: url('assets/chevron-right.svg'); 
    mask-image: url('assets/chevron-right.svg')}

.icon {
    background: var(--primary-color);
    mask-size: cover;
    -webkit-mask-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 10px;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.icon:hover, .icon:focus {
    background: var(--map-button-bg-color);
}
  
.icon:hover {
  filter: brightness(.8);
}

.iconexpand {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}