.layermanager {    
    padding: 0 0 2em 0;
   
}

.title {
    font-weight: bold;
    padding:.8em 1.5em;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    list-style:none;    
}

li {
    flex: 0 0 auto;
    
}


.overflow-container{
    overflow:auto;
}

.placeholder {
   /* border: 1px solid var(--header-background-color) */
}
.over {
    height: 25px;
    border: dotted 1px var(--primary-color);    
}