.layer-buttons{
    display:flex;
    justify-content:space-around;
    width:50%;
}

.layer-buttons ba-icon{
    /* background: var(--secondary-bg-color);    */
    border-radius: 8em;
    width: 2.5em;
    height: 2.5em;
    padding:.2em;
}
.layer-buttons ba-icon:hover{
    background:var(--header-button-bg-color);
}
#remove:hover{
    background: var(--error-color);
}
.layer-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

 input[type="range"] {
    --track-height: .3em;
    --track-fill: 0%;
    --thumb-size: 1.5em;
    --thumb-offset: -.6em;
    --thumb-highlight-size: 0px;
    --primary-color-light: var(--primary-color-light);

    appearance: none;         
    display: block;
    inline-size: 100%;        
    margin: 1em 0;            
    background: transparent;  
    outline-offset: 5px;      
  }
  input[type="range"]::-webkit-slider-runnable-track {
    appearance: none; 
    block-size: var(--track-height);
    border-radius: .5em;
    background:
      linear-gradient(
        to right,
        var(--primary-color) var(--track-fill),
        var(--secondary-bg-color) 0%
      );
  }

  input[type="range"]::-moz-range-track {
    appearance: none; 
    block-size: var(--track-height);
    border-radius: .5em;
    background:
      linear-gradient(
        to right,
        var(--primary-color) var(--track-fill),
        var(--secondary-bg-color) 0%
      );
  }
  input[type="range"]::-webkit-slider-thumb {
      appearance: none; 
      cursor: ew-resize; 
      border: 3px solid var(--primary-bg-color);
      block-size: var(--thumb-size);
      inline-size: var(--thumb-size);
      margin-top: var(--thumb-offset);
      border-radius: 50%;
      background: var(--primary-color) fixed;
      box-shadow: 0 0 0 var(--thumb-highlight-size) var(--primary-color-light);
      transition: box-shadow .1s ease;
    }

    input[type="range"]::-moz-range-thumb {
      appearance: none; 
      cursor: ew-resize; 
      border: 3px solid var(--primary-bg-color);
      block-size: var(--thumb-size);
      inline-size: var(--thumb-size);
      margin-top: var(--thumb-offset);
      border-radius: 50%;
      background: var(--primary-color) fixed;
      box-shadow: 0 0 0 var(--thumb-highlight-size) var(--primary-color-light);
      transition: box-shadow .1s ease;
    }
    
    input[type="range"]:focus{
        --thumb-highlight-size: 10px;
    }

    .ba-section:hover{
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) , 0 0px 4px rgba(0, 0, 0, 0.5); */
     } 