.ba_values_container {
	max-height: 19em;
	overflow: auto;
	padding: 0.1em;
	border: 1px solid var(--primary-bg-color);
	box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
	background-color: var(--tertiary-bg-color);
	z-index: 100;
	pointer-events: auto;
	transform-origin: top right;
	animation-name: openScale;
	animation-duration: var(--animation-duration-medium-open);
	animation-iteration-count: 1;
	width: 38.5em;
	contain: layout;
	padding-right: 0.5em;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	transform: scaleX(-1);
}

.is-portrait .ba_values_container {
	position: inherit;
}

.is-landscape .ba_values_container {
	position: fixed;
	z-index: 1;
}

.ba_value_item {
	color: var(--text1);
	padding: 0.3em 0.5em;
	border-color: var(--primary-bg-color);
	border-width: 0px;
	border-style: solid;
	transition: transform var(--animation-duration-medium-close) var(--animation-easing-open);
	justify-self: center;
	text-align: center;
	font-size: 1.1rem;
	transform: scaleX(-1);
	margin-top: 0.1em;
	border-right: 2px dotted var(--header-background-color);
}

.ba_value_item:hover {
	background: var(--primary-color-lighter);
	color: var(--secondary-color) !important;
	border-right: 2px solid var(--header-background-color) !important;
}

.isselected {
	color: var(--text3) !important;
	background: var(--primary-color);
	border-right: 2px solid var(--primary-color) !important;
}

.iscollapsed {
	display: none;
}

.valueselect__toggle-button {
	border: 0;
	width: auto;
	border-bottom: 0.2em solid var(--secondary-color);
	background: var(--header-background-color);
	font-size: 1rem;
	padding: 0.3em 2em 0.3em 0.5em;
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: calc(100% - 0.6em) center;
	background-size: 0.8em;
	background-image: url('./assets/caret-down-fill.svg');
}

ba-icon {
	display: none;
}

.ba_value_item[id$='0'] {
	grid-column-start: 10;
	grid-column-end: 10;
	color: var(--text4);
}
.ba_value_item[id$='1'] {
	grid-column-start: 9;
	grid-column-end: 9;
}
.ba_value_item[id$='2'] {
	grid-column-start: 8;
	grid-column-end: 8;
}
.ba_value_item[id$='3'] {
	grid-column-start: 7;
	grid-column-end: 7;
}
.ba_value_item[id$='4'] {
	grid-column-start: 6;
	grid-column-end: 6;
}
.ba_value_item[id$='5'] {
	grid-column-start: 5;
	grid-column-end: 5;
}
.ba_value_item[id$='6'] {
	grid-column-start: 4;
	grid-column-end: 4;
}
.ba_value_item[id$='7'] {
	grid-column-start: 3;
	grid-column-end: 3;
}
.ba_value_item[id$='8'] {
	grid-column-start: 2;
	grid-column-end: 2;
}
.ba_value_item[id$='9'] {
	grid-column-start: 1;
	grid-column-end: 1;
}
