.iframe__preview {
    padding-left: 0.3em;    
}

.iframe__embed_string{
    display: flex;
    align-content: space-evenly;
}
 
.iframe___content{
    display: flex;
    justify-content: center;
    padding: 0.3em;
    border:1px solid var(--header-background-color);    
}

.iframe___content iframe{
    border:0;    
}

.iframe__section {
	border-bottom: 1px solid var(--header-background-color);
}

.iframe__controls{
    padding: 0.3em;
    display: flex;
    align-content: space-evenly;
}

.iframe__code {
    padding: 0.3em;
}

.iframe__toggle{
    display: flex;
    align-items: center;
    padding-right: 0.3em;
}



