.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  

.labels {
    padding-top: 15px;
    /* flex-grow: 100; */
    display: block;
}

.theme-toggle {
    padding-top: 10px;
    /* flex-grow: 100; */
    display: block;
}

.buttons {
    /* flex-grow: 200; */
    display: block;
}