.content {
    display: flex;
    justify-content: normal;
    width: 100%;
    align-items: center;
    padding: 0.4em;
}  

.theme-toggle {
    /* flex-grow: 100; */
    display: block;
}

.coordinates {
    /* flex-grow: 100; */
    display: block;
}

.geo-rsrc-info {
    display: block;
    margin-right: 1.5em;
    margin-left: 1.5em;
    max-width: 30em;
    max-height: 3em;
} 

