.content {
    display: flex;
    justify-content: normal;
    width: 100%;
}  

.theme-toggle {
    padding-top: 10px;
    /* flex-grow: 100; */
    display: block;
}

.coordinates {
    padding-top: 10px;
    /* flex-grow: 100; */
    display: block;
}