.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}
li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.placeholder {
	height: 0;
	overflow: hidden;
	background: var(--secondary-bg-color);
	font-weight: bold;
	color: rgba(0, 0, 0, 0.3);
	font-size: 2rem;
	opacity: 0.5;
	padding: 0 0.8em;
	align-items: center;
	display: flex;
	width: 100%;
}
.placeholder-active {
	height: 1.8em;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease;
}
.over {
	background-color: var(--primary-color);
}
.isdragged {
	background: var(--header-background-color);
}
.waypoints__actions {
	border-top: 1px solid var(--header-background-color);
	display: flex;
	justify-content: flex-start;
	margin: 0 0.3em 0.5em;
}
.waypoints__actions ba-button {
	border-right: 1px solid var(--header-background-color);
}
.waypoints__actions ba-button:last-child {
	border-right: none;
}
.overflow-container {
	width: 100%;
	background: var(--primary-bg-color);
	overflow: hidden;
}
ba-routing-waypoint-item {
	flex-grow: 1;
}
.waypoint[draggable='true'] {
	border-bottom: 1px dotted var(--secondary-bg-color);
}
.waypoints .waypoint:nth-last-child(-n + 2) {
	border-bottom: 0;
}
