.container {
	display: flex;
	align-items: center;
	padding: 1.5em 1em;
	position: relative;
}
.icon {
	height: 1.6em;
	width: 1.6em;
	margin-right: 1.5em;
	padding: 0;
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;

	mask-image: url('../assets/intermediate.svg');
	-webkit-mask-image: url('../assets/intermediate.svg');
}
.start {
	background: green;
	mask-image: url('../assets/marker.svg');
	-webkit-mask-image: url('../assets/marker.svg');
}

.destination {
	background: rgb(214, 12, 12);
	mask-image: url('../assets/marker.svg');
	-webkit-mask-image: url('../assets/marker.svg');
}

.line {
	position: absolute;
	height: 100%;
	width: 1px;
	left: 1.8em;
	background: var(--text2);
	z-index: 0;
	top: 50%;
}
