.container {
	display: grid;
	padding-bottom: 1em;
	background: var(--header-background-color);
}

.icon {
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	display: inline-block;
	height: 16px;
	width: 10px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all var(--animation-duration-large-open) var(--animation-easing-open);
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
}

li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.waypoint__buttons {
	display: flex;
	justify-content: right;
	margin: auto;
}
.placeholder {
	height: 0;
	overflow: hidden;
	background: var(--secondary-bg-color);
	font-weight: bold;
	color: rgba(0, 0, 0, 0.3);
	font-size: 2rem;
	opacity: 0.5;
	padding: 0 0.5em;
	width: 100%;
}

.placeholder-active {
	height: 1.2em;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease;
}

.over {
	background-color: var(--primary-color);
}

.dragged {
	opacity: 0.5;
}

.isdragged {
	background: var(--header-background-color);
}

.waypoints__actions {
	justify-content: center;
	display: none;
}

.waypoints__actions ba-buttons:first-child {
	border-right: 1px dotted var(--primary-bg-color);
}
.overflow-container {
	margin: 0.5em 1em;
	border-radius: 1.5em;
	background: var(--primary-bg-color);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

ba-routing-waypoint-item {
	flex-grow: 1;
}
.waypoint[draggable='true'] {
	border-bottom: 1px dotted var(--text2);
}
