.toggleButtons {
	display: none;
}
.toggleButtons.active {
	display: block;
}

.toggleMap {
	display: none;
}
.toggleMap.active {
	display: block;
}

.toggleGeneral {
	display: none;
}
.toggleGeneral.active {
	display: block;
}
