.button {
	cursor: pointer;
	padding: 0.8em 1em;
	background: transparent;
	border: none;
	font-weight: bold;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	color: var(--primary-color);
	width: 100%;
}
.primary {
	background-color: var(--primary-color);
	color: var(--text3);
	opacity: 0.8;
}
.secondary {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}
.primary.button:focus-visible {
	opacity: 1;
}
.secondary.button:focus-visible {
	background: var(--primary-color);
	color: var(--text3);
}
.primary.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
	background: var(--secondary-bg-color);
}
.secondary.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
}
.loading {
	border: none;
	outline: none;
	position: relative;
	background-color: var(--primary-color);
	color: var(--text3);
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
}
.loading::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: repeating-linear-gradient(60deg, transparent, transparent 0.75rem, rgba(255, 255, 255, 0.15) 0.75rem, rgba(255, 255, 255, 0.15) 1.5rem);
	animation: load 0.8s infinite linear;
}
.secondary.button:focus-visible,
.primary.button:focus-visible,
.loading.button:focus-visible {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.primary.button:hover:enabled {
	opacity: 1;
}
.secondary.button:hover:enabled {
	background: var(--primary-color);
	color: var(--text3);
}
@keyframes load {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-1.75rem);
	}
}
.icon {
	height: 1em;
	width: 1em;
	display: flex;
	font-size: 1.7rem;
	position: absolute;
	left: 0.4em;
	top: 0.3em;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
}
.primary .icon {
	background: var(--text3);
}
.loading .icon {
	background: var(--text3);
}
.secondary .icon {
	background: var(--primary-color);
}
.primary.disabled .icon {
	background: var(--text1);
}
.secondary.disabled .icon {
	background: var(--text1) !important;
}
.iconbutton {
	padding-left: 3em;
	position: relative;
}
.secondary:hover .icon,
.secondary:focus-visible .icon {
	background: var(--text3);
}
