.button {
	cursor: pointer;
	padding: .8em 1em;
	background: transparent;
	border: none;
	font-weight: bold;   
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linea);  
	color: var(--primary-color);
	width: 100%;
}
.primary {
	background-color: var(--primary-color);
	color: var(--text3);
	opacity: .8;
}
.secondary {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}
.primary.button:focus {
	opacity: 1;
}
.secondary.button:focus {
	background: var(--primary-color);
	color: var(--text3);
}
.secondary.button:focus, .primary.button:focus {
	box-shadow: 0 0 0 .2em var(--primary-color-lighter);
}
.primary.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
	background: var(--secondary-bg-color)
}
.secondary.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
}
.primary.button:hover:enabled {
	opacity: 1;
}
.secondary.button:hover:enabled {
	background: var(--primary-color);
	color: var(--text3);
}
