.button {
    cursor: pointer;
    padding: .8em 1em;
    background: transparent;
    border: none;
    font-weight: bold;   
    transition: all .2s ease-in-out;  
    color: var(--primary-color);
}
.primary {
    background-color: var(--primary-color);
    color: white;
    opacity: .8;
}
.secondary {
    background-color: var(--primary-bg-color);
    color: ar(--primary-color);
}
.primary.button:hover:enabled, .primary.button:focus{
    opacity: 1;
}
.secondary.button:hover:enabled, .secondary.button:focus{
    background:  var(--primary-color);
    color:  var(--text-default-color);
}
.primary.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    color: var(--color);
    background:var(--secondary-bg-color)
}
.secondary.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    color: var(--color);
}