.button {
	cursor: pointer;
	padding: .8em 1em;
	background: transparent;
	border: none;
	font-weight: bold;   
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linea);  
	color: var(--primary-color);
}
.primary {
	background-color: var(--primary-color);
	color: var(--text3);
	opacity: .8;
}
.secondary {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}
.primary.button:hover:enabled, .primary.button:focus {
	opacity: 1;
}
.secondary.button:hover:enabled, .secondary.button:focus {
	background:  var(--primary-color);
	color:  var(--text3);
}
.primary.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
	background:var(--secondary-bg-color)
}
.secondary.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
}
