ba-base-layer-container {
	position: sticky;
	z-index: 10;
	display: block;
	border-bottom: var(--border1-width) var(--border1-style) var(--border1-color);
}
.is-portrait ba-base-layer-container {
	top: -2.5em;
}
.is-landscape ba-base-layer-container {
	top: 0;
}
