.content-panel {
	position: fixed;
	background-color: var(--primary-bg-color);
	padding: 7em 0em 0em;
	bottom: 0;
	top: 0;
	left: -28em;
	width: 28em;
	z-index: 10;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	overflow-x: hidden;
	overflow-y: auto;
	transition: transform var(--animation-duration-large-open) var(--animation-easing-open);
}
.content-panel__close-button {
	position: absolute;
	background-color: var(--secondary-bg-color);
	top: 4.5em;
	left: 25.5em;
	border-radius: 2em 0 0 2em;
	padding: 0;
	width: 2.5em;
	height: 2.5em;
	border: 0;
}
.arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: 0.6em;
	left: 0.5em;
	border-width: 0.5em;
	border-style: solid;
	border-color: transparent var(--text2) transparent transparent;
}

.is-open {
	transform: translate(28em, 0);
}

/* @media (orientation: portrait){ */
.is-portrait .content-panel {
	top: -75vh;
	height: 75vh;
	left: 0;
	right: 0em;
	width: auto;
	overflow: auto;
}
.is-portrait .content-panel__close-button {
	position: absolute;
	top: unset;
	left: unset;
	bottom: 0em;
	right: 0em;
	border-radius: 2em 0 0 0;
}
.is-portrait .arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: 0.6em;
	left: 1em;
	border-width: 0.5em;
	border-style: solid;
	border-color: transparent transparent var(--text2) transparent;
}

.is-portrait .is-open {
	transform: translate(0, 75vh);
}

.only-greater-600 {
	background-color: red;
}
