.map-feedback__container {
	display: flex;
	flex-direction: row;
	position: relative;
}
.is-portrait.map-feedback__container {
	flex-direction: column;
}

.map-feedback__form {
	padding: 0 1em;
}
.is-portrait .map-feedback__form {
	margin-top: 2em;
}
.is-landscape .map-feedback__form {
	max-width: 35em;
}
.map-feedback__form-hint {
	padding: 1em 0;
	width: 100%;
}
.map-feedback__disclaimer {
	font-size: 0.9rem;
	margin-top: 8em;
	padding: 1em 0;
}
.map-feedback__disclaimer a {
	font-size: 0.9rem;
	color: var(--text4);
}
.map-feedback__disclaimer a:hover {
	text-decoration: underline;
}
.map-feedback__highlight {
	display: inline-block;
	font-weight: bold;
	color: var(--primary-color);
	cursor: default;
}
.ba-list-item__main-text {
	font-size: 1.7rem;
}

.ba-form-element.userVisited ba-mvu-fivebuttonrating:invalid-rating ~ .error-label {
	display: block;
	color: var(--error-color);
}
