.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
	width: 100%;
}

input {
	border: none;
	color: var(--text1);
	background-color: var(--secondary-bg-color);
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: var(--font-family);
	width: 100%;
}
.autocomplete-items {
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: scoll;
	max-height: 75vh;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: var(--secondary-bg-color);
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: var(--primary-color);
	color: var(--text1);
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: var(--primary-color);
	color: var(--text1);
}
