.kebabmenu__button {
	mask: url("../../assets/kebab.svg");
	-webkit-mask-image: url(" ../../assets/kebab.svg");
	cursor: pointer;
	display: inline-block;
	height: 2em;
	width: 2em;
	background-color: var(--primary-color);
}

.kebabmenu__button:hover {
	border-width: 3px;
	border-radius: 0.1em;
	box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
}

.anchor {
	display: inline-block;
	background: transparent;
	border: none;
	border-radius: calc(2.5em / 2);
	height: 2.5em;
	width: 2.5em
}

.anchor:hover {
	background: var(--primary-bg-color);
}

.menu__container {
	--anchor-x: 0;
	--anchor-y: 0;
	position: fixed;
	border: 3px solid var(--primary-bg-color);
	box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
	background-color: var(--primary-bg-color);
	z-index: 100;
}

.sector0 {
	transform: translateX(calc(var(--anchor-x))) translateY(calc(var(--anchor-y)));
}

.sector1 {
	transform: translateX(calc(var(--anchor-x) - 100%)) translateY(calc(var(--anchor-y)));
}

.sector2 {
	transform: translateX(calc(var(--anchor-x) - 100%)) translateY(calc(var(--anchor-y) - 100%));
}

.sector3 {
	transform: translateX(calc(var(--anchor-x))) translateY(calc(var(--anchor-y) - 100%));
}

.menuitem {
	padding: 1em;
	cursor: pointer;
}

.menuitem:hover {
	background-color: var(--tertiary-bg-color);
}

.iscollapsed {
	display: none
}
