.chips__button {
	position: absolute;
	padding: 0.3em 0.5em;
	font-size: 0.9rem;
	top: 0.7em;
	left: 0.7em;
	border: 1px solid var(--primary-color);
	background: var(--primary-bg-color);
	display: flex;
	margin-left: 0;
	z-index: calc(var(--z-header) + 20);
	border-radius: 2em;
	cursor: pointer;
	text-decoration: none;
	flex-shrink: 0;
}
.chips__button:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.chips__button-text {
	color: var(--text1);
	font-weight: bold;
	margin-left: 2em;
	padding: 0.3em;
}
.chips__button:hover .chips__button-text {
	color: var(--primary-color);
}
.chips__icon {
	position: absolute;
	height: 1.7em;
	width: 1.7em;
	left: 0.6em;
	top: 0.3em;
	background: linear-gradient(to top, var(--secondary-color) 0%, var(--primary-color) 50%);
}
