.stats-container {
	margin: 0.5em 0 0 0;
	font-size: 0.9rem;
}

.stats-content {
	display: flex;
}

.stats-content ba-coordinate-info {
	width: 100%;
}

.stats-content .label {
	min-width: 7em;
	margin: auto;
}

.stats-content .value {
	flex-grow: 4;
	margin: auto;
}
.stats-content .icon {
	padding-left: 1em;
	margin: auto;
}
