.first_steps__button {
	position: absolute;
	top: 0.8em;
	left: 7.5em;
	display: flex;
	transition: all var(--animation-duration-large-open) var(--animation-easing-linear);
	margin-left: 0;
	z-index: calc(var(--z-header) + 20);
	border-radius: 2em;
	padding: 0.5em 0.9em;
	background: var(--primary-bg-color);
	cursor: pointer;
	border: 0;
}
.first_steps__button:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.first_steps__link {
	font-size: 0.9rem;
	text-decoration: none;
}
.is-tablet .first_steps__button {
	margin-left: -1.5em;
}
.is-portrait .first_steps__button {
	display: none;
}
.is-desktop .is-open,
.is-tablet .is-open {
	transform: translate(28em, 0);
	margin-left: -6.5em;
}
.first_steps__button-text {
	font-weight: bold;
	color: #fff;
	color: var(--primary-color);
	margin: auto 0.5em;
}
.first_steps__button-icon {
	display: inline-block;
	height: 1.1em;
	width: 1.1em;
	font-size: 0.9rem;
	background: #fff;
	background: var(--primary-color);
	mask: url('assets/chatdots.svg');
	-webkit-mask-image: url('assets/chatdots.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
	left: 0.7em;
}
.first_steps__notification {
	height: 10em;
}
.first_steps__notification-section {
	display: flex;
	margin-bottom: 1em;
}
.first_steps__notification-icon {
	display: inline-block;
	margin: auto;
	height: 4em;
	width: 6.8em;
	background: #fff;
	background: var(--primary-color);
	mask: url('assets/chatdots.svg');
	-webkit-mask-image: url('assets/chatdots.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
	left: 0.7em;
}
.first_steps__notification-primary-text {
	font-size: 1.5rem;
	margin: 0.5em 0.6em;
}
.first_steps__notification-secondary-text {
	font-size: 1rem;
	margin: 0.5em 1em;
}
.space-evenly {
	justify-content: space-evenly;
}
a.first_steps__notification-link {
	color: var(--primary-color);
	cursor: pointer;
	padding: 0.8em 1em;
	background: transparent;
	border: none;
	font-weight: bold;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	text-decoration: none;
}
a.first_steps__notification-link:hover {
	background-color: var(--primary-color);
	color: var(--text3);
}

iframe {
	min-height: 50em;
	border: 0;
	width: 100%;
	min-width: 60em;
}

.is-portrait iframe {
	height: 92em;
	width: 100%;
	min-width: auto;
}
