.ba-tool-container {
	min-width: 27em;
}
.ba-tool-container__title {
	padding: 0.8em 1.5em;
	font-weight: bold;
}
.ba-tool-container__content {
	padding: 0.8em 1.5em;
}
.ba-tool-container__actions {
	display: flex;
	justify-content: flex-start;
	min-height: 2.8em;
}
.ba-tool-container__actions > * {
	border-right: 1px dotted var(--header-background-color);
}
.ba-tool-container__actions > *:last-child {
	border-left: 1px dotted var(--header-background-color);
	border-right: none;
}
.sub-text {
	text-align: center;
	font-size: 0.8em;
	margin: 1.5em;
}
.sub-text:empty {
	display: none;
}
