.ba-tool-container {
	min-width: 27em;
	border: var(--hc-border1);
}
.ba-tool-container__title {
	padding: 0.8em 1.5em;
	font-weight: bold;
}
.ba-tool-container__content {
	padding: 0.8em 1.5em;
}
.ba-tool-container__actions {
	display: flex;
	justify-content: flex-start;
	min-height: 2.8em;
}
.ba-tool-container__actions > * {
	border-right: var(--border1-width) var(--border2-style) var(--border1-color);
}
.sub-text {
	text-align: center;
	font-size: 0.8em;
	margin: 1.5em;
}
.sub-text:empty {
	display: none;
}
