.ba-tool-container__item{                   
    width: 100%;                                                
    text-align: center;
    background-color: var(--primary-bg-color);
    padding: 2rem 1rem 1rem 1rem;                                                            
}

.tool-container__header{
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
    top: 8px;
    left: 1rem;
    opacity: .8;
}

.tool-container__tools-nav{
    position: absolute;
    top: 0rem;   
    right: 1rem;
    padding:0
}

.tool-container__close-button{
    margin: 0;
    background-color: var(--secondary-bg-color);
    border-radius: 0 0  2em  2em;
    padding: 0;
    width: 2.5em;
    height: 2.5em;
    border: 0;
}

.tool-container__buttons{
    display: flex;
    margin: .8em 0;
    justify-content: center;
}

.tool-container__buttons > div {
    min-width: 4em;
    min-height: 3em;
    background:transparent;
    color: var(--header-button-color);
    border-color: var(--secondary-bg-color);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: rgba(255,255,255,.8);
}
.tool-container__buttons > div{
    border-right: 1px dotted var(--secondary-bg-color);
    border-left: 0 dotted var(--secondary-bg-color);
}
.tool-container__buttons > div:first-child{
    border-radius: var(--border-radius-button-b)  0 0 var(--border-radius-button-b);
    border-left: 1px dotted var(--secondary-bg-color);

  }
  .tool-container__buttons > div:nth-last-child(2){
      border-radius:0 var(--border-radius-button-b) var(--border-radius-button-b) 0;
      border-right: 1px solid var(--secondary-bg-color);
  }
  .tool-container__buttons > div:last-child{
    border-radius: var(--border-radius-button-b);
    border: 1px solid var(--secondary-bg-color);
    margin-left: .8em;
  }

  .tool-container__button-text{
      font-size:.8rem;
      margin: .8rem .3rem .8rem .3rem;
  }

  .tool-container__button_icon{
    height: 1.5em;
    width: 2.5em;
    margin: .8rem .8rem .3rem .8rem;
    fill: rgb(58,132,195);
    background-size: 3em 2em;
}

.pencil{
    background-image:  url('assets/pencil.svg');
}

.tool-container__buttons-secondary{
    margin: 0.8em 0 ;
}
.tool-container__buttons-secondary button{
    cursor: pointer;
    padding: .5em 0.9em;
   background: transparent;
   border: none;
   font-weight: bold;
   border-right: 1px dotted var(--header-background-color);
   opacity:.8;
   transition: all .2s ease-in-out;
  
 }
  .tool-container__buttons-secondary button:hover{
   opacity:1;
  
  }
  .tool-container__buttons-secondary button:last-child{
   border: none;
  }
  .tool-container__info{
    font-size: .8rem;
    color: gray;
}
