
.tool-container{               
    top: 0;
    right: 0;           
    position: fixed;    
    z-index: calc(var(--z-toolbox) + 20);    
    background-color: var(--primary-bg-color);
    max-width: 27em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);   
}
.tool-container__tools-nav{
    position: absolute;
    top: 0;   
    right: 0;
    padding:0
}
.tool-container__close-button{
    margin: 0;
    background-color: var(--secondary-bg-color);   
    padding: 0;
    width: 2.5em;
    height: 2.5em;
    border: 0;
    opacity: .8;
    font-weight: bold;
}
.tool-container__close-button:hover{
    opacity: 1;
}
.tool-container__content{
    transition: transform 0.3s ease-out;
    display: none;
}
.is-portrait .tool-container{               
    bottom: 0;
    right: 0;           
    left: 0;           
    width:100%;
    top: unset;
    position: fixed;    
    background-color: var(--primary-bg-color);
    max-width: unset;
}
 .is-open {
    display: block;
}
