.tool-container {
	top: 0;
	right: 0;           
	position: fixed;    
	z-index: calc(var(--z-toolbox) + 20);    
	background-color: var(--primary-bg-color);
	max-width: 27em;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);   
}
.tool-container__tools-nav {
	position: absolute;
	top: 0;   
	right: 0;
	padding: 0
}
.tool-container__close-button {
	margin: 0;
	width: 2.5em;
	height: 2.5em;
	border-radius: 2.5em;
	border: 0;
	background: var(--primary-bg-color);
	font-weight: bold;
	cursor: pointer;
	position: relative;
	display: block;
	padding: .5em;
}
.tool-container__close-button:hover {
	background: var(--header-background-color)
}
.tool-container__content {
	transition: transform var(--animation-duration-large-open) var(--animation-easing-open);  
	display: none;
}
.is-portrait .tool-container {
	bottom: 0;
	right: 0;           
	left: 0;           
	width: 100%;
	top: unset;
	position: fixed;    
	background-color: var(--primary-bg-color);
	max-width: unset;
}
.is-open {
	display: block;
}

.close-icon {
	display: inline-block;
	position: relative;
	top: -1em;

}
  
.close-icon::before {
	position: absolute;
	content: '';
	width: 2px;
	height: 1.4em;
	background: var(--text2);
	transform: rotate(45deg);
}
.close-icon::after {
	position: absolute;
	content: '';
	width: 2px;
	height: 1.4em;
	background: var(--text2);
	transform: rotate(315deg);
}
