.container{               
    top: 6rem;
    right: 1rem;           
    position: fixed;    
    z-index: var(--z-toolbox);
}

.content{
    border-radius: .375em;
    background-color: var(--primary-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0.5em 5.2em 0.5em 0.5em;
    max-width: 22em;
    transition: transform 0.3s ease-out;
    display: none;
}

 .is-open {
    display: block;
}
