
.ba-list-inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
 }
 .ba-list-inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .ba-list-inline li{
    border-left: 1px var(--secondary-bg-color) solid;
    text-align: center;
 }
 .ba-list-inline li:first-child{
    border-left: 0;
    text-align: center;
 }
 .ba-list-item{
    display: flex;
    cursor: pointer;
 }


.ba-list-item > *{
    padding-top: .8em;
    padding-bottom: .8em;
 }
 .ba-list-item > *:first-child{
    padding-left: 1.5em;
 }
 .ba-list-item > *:last-child{
    padding-right: 1.5em;
 }
 
 .ba-list-item__header{
    font-weight: bold;
 }
 .ba-list-item__header:hover{
    background: none;
 }
 
 .ba-list-item__pre{
    display: flex;
    margin: 0 1em 0 0;
 }

 .ba-list-item__text{
    flex-grow: 1;
 }
 .verticla-center{
    margin: auto;
 }
 
 .ba-list-item__primary-text{  
    /* font-weight: bold;   */
    display:block;           
    font-size: 1rem;
    font-weight: bold;
 }
 .ba-list-item__secondary-text{
    font-size: .9rem;
    opacity:.7;
 }

 .ba-list-item:hover{
    background: var(--header-background-color);
 }