.topic .ba-list-item__icon {
	padding: 0.3em;
	background: var(--primary-bg-color);
	border: 0.2em solid var(--secondary-color);
}
.topic {
	--secondary-color: var(--topic-theme, var(--secondary-color-theme));
}
.topic-icon {
	position: relative;
	top: 1.4em;
	left: -2.2em;
}
.back-icon {
	position: relative;
	left: -1em;
}

.ba-list-item__text {
	position: relative;
	left: -1em;
}

ba-spinner {
	margin: 0.8em 1.2em;
}

svg {
	fill: var(--text1);
	height: 2em;
	width: 2em;
}
