.ba-list-item__text:focus-visible {
	box-shadow: Inset 0 0 0 0.2em var(--primary-color-lighter);
}
.ba-list-item ba-checkbox {
	--primary-color: var(--topic-theme, var(--secondary-color));
}

.ba-icon-button {
	padding: 0.6em !important;
}

ba-icon {
	border-radius: 2em;
	width: 2em;
	height: 2em;
	display: block;
	margin: 0 0.3em;
}
ba-icon:hover {
	background: var(--primary-color);
}
ba-icon:focus-visible {
	background: var(--primary-color);
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.loading {
	border: none;
	outline: none;
	position: relative;
	background-color: var(--header-background-color);
	overflow: hidden;
}
.loading span {
	position: relative;
}
.loading::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: repeating-linear-gradient(60deg, transparent, transparent 0.75rem, var(--primary-bg-color) 0.75rem, var(--primary-bg-color) 1.5rem);
	opacity: 0.4;
	animation: load 0.8s infinite linear;
}
@keyframes load {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-1.75rem);
	}
}

.preview ba-checkbox::part(checkbox-background) {
	border-color: var(--topic-theme, var(--secondary-color));
	background-color: color(from var(--topic-theme, var(--secondary-color)) srgb r g b / 0.4);
}
