.ba-section {
	--secondary-color: var(--topic-theme, var(--secondary-color-theme));
}
.sub-divider {
	border-left: 0.15em solid transparent;
	border-bottom: 1px dotted var(--header-background-color);
	cursor: pointer;
}
.sub-icon {
	margin: auto 0 auto var(--node-level);
	background: var(--secondary-color);
	mask: url('../assets/arrowTopRightShort.svg');
	-webkit-mask: url('../assets/arrowTopRightShort.svg');
	mask-size: 1em;
	mask-repeat: no-repeat;
	position: relative;
	top: 0.2em;
	left: 0.5em;
}

.sub-divider:hover {
	border-left: 0.15em solid var(--secondary-color);
}
.sub-divider .ba-list-item__after {
	transform: scale(0.8);
}
.sub-divider .ba-list-item__after .icon {
	background: var(--text2);
}
.ba-list-item__sub-header {
	opacity: 1;
	margin-left: 0;
	padding-left: 1.4em;
}
.sub-divider:hover .ba-list-item__sub-header {
	color: var(--secondary-color);
}
