.container {
	display: flex;
	flex-direction: column;
}
.ba-list {
	background-color: var(--primary-bg-color);
	border-bottom: 1px solid var(--header-background-color);
}
.demo {
	position: fixed;
	bottom: 0;
	padding-bottom: 3em;
	width: 100%;
	background-color: var(--primary-bg-color);
}
.demo_title {
	border-top: 2px solid var(--header-background-color);
	font-style: italic;
	font-weight: 900;
}
.demo_buttons {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
}
.chips__container {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	gap: 0.5em 0.8em;
	padding: 0.8em 1.2em;
}
