.container {
	display: flex;
	width: 100%;
}

.button-container {
	display: flex;
	gap: 10px;
}

#legend-viewer {
	padding: 15px;
}

.legend-container {
	flex-direction: column;
	gap: 15px;
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.legend-entries-container {
	flex-direction: column;
	display: flex;
	iframe {
		height: 700px;
	}
}

.legend-content-header {
	font-size: 1.25em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--header-background-color);
	padding: 10px 20px;
}

.legend-content-header:hover {
	/* same as LayerItem */
	--base-color: var(--hc-color2, color-mix(in hsl, var(--header-background-color) 85%, var(--primary-color) 15%));
	--bg-color: var(--hc-color2, color-mix(in hsl, var(--header-background-color) 85%, var(--primary-color) 15%));
	background: linear-gradient(to left, var(--base-color) 0%, var(--base-color) 1.5%, var(--bg-color) 1.5%, var(--bg-color) 100%);
	border: var(--hc-border1);
}

.legend-content {
	width: 100%;
}

.legend-separator {
	width: 100%;
	height: 1px;
	background-color: #eee;
}

.legend-entry {
	img {
		object-fit: scale-down;
	}
	margin-top: 10px;
}

#legend-select {
	height: 50px;
	padding: 10px;
}

.hidden {
	display: none;
}

.legend-entry-collapse-button {
	background: transparent;
	height: 2.5em;
	width: 2.5em;
	border-radius: 2em;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.legend-entry-close-button {
	border-radius: 1.25em;
	background: transparent;
}

ba-icon {
	border-radius: 2em;
	width: 2.5em;
	height: 2.5em;
	display: flex;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
}

ba-icon::part(icon) {
	transform: scale(0.8);
}

.legend-entry-close-button:hover {
	background: var(--error-color);
}

.legend-entry-close-button:hover::part(icon) {
	background: var(--text3);
}

.legend-entry-collapse-button:hover {
	background: var(--header-background-color);
}
