.ba-list {
	background-color: var(--tertiary-bg-color);
}
.ba-list:after {
	background-image: linear-gradient(180deg, var(--tertiary-bg-color) 20%, var(--primary-bg-color) 100%);
	height: 10em;
	content: '';
	position: absolute;
	bottom: -10em;
	left: -3em;
	right: -3em;
	margin: 0.5em 1px 0;
}
.icon-share {
	background: var(--primary-bg-color);
	border-radius: 2em;
}

.collapse-content {
	padding: 0 1.2em;
	overflow-x: scroll;
}

.featureinfo-header {
	position: sticky;
	z-index: calc(var(--z-header) + 92);
	top: 0;
	background-color: var(--tertiary-bg-color);
	border-bottom: 1px solid var(--header-background-color);
}
.featureinfo-header:hover {
	background-color: var(--tertiary-bg-color);
}

.info-container {
	margin-bottom: -2em;
}

.info-icon {
	height: 13em;
	width: 13em;
	background-size: contain;
	background-color: transparent;
	margin: 3em auto 1em;
	background-image: url('../assets/info.svg');
	display: flex;
}
.info-text {
	font-size: 1.4em;
	margin: 1em;
	display: block;
	padding: 1em;
	text-align: center;
}

ba-spinner {
	display: block;
	padding: 0.8em 1.2em;
}

/* not implemented yet  */
.icon-rotate-90,
.print,
.share {
	display: none;
}

/* GetFeat styl  */

table,
tr,
td,
th {
	border: 0;
	background: transparent;
	width: 100%;
}

a {
	color: var(--text4);
}
a:hover {
	text-decoration: underline;
}

table {
	margin-bottom: 1em;
	position: relative;
	border-collapse: collapse;
	border: 1px solid var(--header-background-color);
}

table:not(:only-of-type):not(:last-child):after {
	content: ' ';
	position: absolute;
	left: -1em;
	right: -1em;
	bottom: -1.5em;
	border-bottom: 1px dotted var(--header-background-color);
}

tr {
	padding: 0 0 0.8em 0;
	border: 1px solid var(--header-background-color);
}

th,
td {
	padding: 0.8em 1em;
	width: auto;
}

.is-portrait table,
.is-portrait tr,
.is-portrait th {
	display: flex;
	flex-direction: column;
}

td:nth-last-child(2):first-child {
	opacity: 0.8;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--text1);
	min-width: 11em;
	max-width: 22em;
	width: auto;
	vertical-align: top;
	padding-top: 0.9em;
}

.collapse-content b {
	font-size: 0.9rem;
	opacity: 0.8;
}

caption {
	text-align: left;
	padding: 0.8em 1em;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background: var(--header-background-color);
}

img {
	width: 100%;
	max-width: 25em;
	height: auto;
}

.ba-list-item__header {
	cursor: default;
}
.ba-section:hover .ba-list-item__header .ba-list-item__text {
	color: var(--primary-color) 0.3;
}
.ba-section:hover .ba-list-item__header {
	color: var(--secondary-color);
}
.ba-list-item__header.is-geometry:hover {
	color: var(--highlight-map-color);
}

.content {
	margin: 0 0 1em 0;
}

.chips__container {
	display: flex;
	justify-content: flex-start;
	flex-flow: wrap;
	gap: 0.5em 0.8em;
	padding: 1em 0;
	border-bottom: 1px solid var(--header-background-color);
}

p,
h1,
h2,
h3,
h4,
h5 {
	margin: 1em 0;
}

.button {
	cursor: pointer;
	padding: 0.8em 1em;
	background: transparent;
	background-color: transparent;
	border: none;
	font-weight: bold;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	display: inline-block;
}
.primary {
	background-color: var(--primary-color);
	color: var(--text3);
	opacity: 0.8;
}
.secondary {
	background-color: var(--primary-bg-color);
	color: var(--primary-color);
}
.primary.button:focus-visible {
	opacity: 1;
}
.secondary.button:focus-visible {
	background: var(--primary-color);
	color: var(--text3);
}
.secondary.button:focus-visible,
.primary.button:focus-visible,
.loading.button:focus-visible {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.primary:hover {
	opacity: 1;
	text-decoration: none;
}
.secondary:hover {
	background: var(--primary-color);
	color: var(--text3);
	text-decoration: none;
}

/*Fixme: remove temporary workaround for OpenData*/
a[href^="https://geodaten.bayern.de/odd/"]
{
	cursor: pointer;
	padding: 0.8em 1em;
	background: transparent;
	border: none;
	font-weight: bold;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	background-color: var(--primary-color);
	color: var(--text3);
	opacity: 0.8;
	display: block;
	text-align: center;
}
a[href^="https://geodaten.bayern.de/odd/"]:hover
{
	opacity: 1;
	text-decoration: none;
}
