.categories-container {
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
}

.categories-container > button {
	font-size: 1.2rem;
	position: relative;
	background: transparent;
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linear);
	color: rgba(255, 255, 255, 0.8);
	padding: 0 0.5em;
	border: 0;
	border-right: 1px dotted var(--header-background-color);
}
.categories-container > button:last-child {
	border-right: none;
}

.category-button:focus-visible {
	box-shadow: none;
}

.category-button__text {
	color: var(--text1);
	font-size: 0.8rem;
	margin: 5.5em 0.3em 0.5em 0.3em;
	user-select: none;
	text-align: center;
	min-width: 5em;
}
