.attribution-container {
	font-size: 0.8rem;
	background-color: var(--primary-bg-color-05);
	padding: 0.4em 2em 0.4em 1em;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	width: 25em;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
}
.attribution-container.isembedded:not(.isopen) {
	width: 13.5em;
}
.attribution-link {
	font-size: 0.8rem;
	color: var(--text4);
	margin-left: 0.2em;
}
.attribution-link:hover {
	text-decoration: underline;
}
.collapse-button {
	padding: 0.4em 1em;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer;
}
.chevron {
	position: relative;
	mask: url('assets/chevron-right.svg');
	-webkit-mask-image: url('assets/chevron-right.svg');
	mask-image: url('assets/chevron-right.svg');
}
.icon {
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	display: inline-block;
	height: 16px;
	width: 10px;
	transform: rotate(270deg);
}
.isopen {
	white-space: unset;
	overflow: hidden;
	padding: 0.4em 1em;
	width: 25em;
	max-width: 100vw;
}
.isopen .attribution {
	display: block;
	margin: 0.5em;
}
.isopen.attribution-container {
	background-color: var(--primary-bg-color);
}
.isopen .icon {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.isopen .collapse-button {
	padding: 0.5em 1em;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.is-collapse {
	display: block;
}
