<!DOCTYPE html>
<html lang="<%= lang %>" translate="no">

  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta charset="utf-8" />
    <meta name="google" content="notranslate">
    <meta name="description" content="<%= description %>"/>
    <meta name="theme-color" content="#fcfdfd" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#2e3538" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="assets/favicon.ico" sizes="any">
    <link rel="icon" type="image/svg+xml" href="assets/icon.svg">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="manifest" href="assets/manifest.json" />
  </head>

<body>
  <ba-header></ba-header>
  <ba-main-menu></ba-main-menu>
  <ba-dnd-import-panel></ba-dnd-import-panel>
  <ba-ol-map></ba-ol-map>
  <ba-map-button-container></ba-map-button-container>
  <ba-tool-bar></ba-tool-bar>
  <ba-tool-container></ba-tool-container>
  <ba-footer></ba-footer>
  <ba-first-steps></ba-first-steps>
  <ba-nonembedded-hint></ba-nonembedded-hint>
  <ba-theme-provider></ba-theme-provider>
  <ba-notification-panel></ba-notification-panel>
  <ba-modal></ba-modal>
  <ba-map-context-menu></ba-map-context-menu>
</body>

</html>