<!doctype html>
<html lang="<%= lang %>" translate="no">
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta charset="utf-8" />
		<meta name="google" content="notranslate" />
		<meta name="description" content="<%= description %>" />
		<meta name="theme-color" content="#fcfdfd" media="(prefers-color-scheme: light)" />
		<meta name="theme-color" content="#2e3538" media="(prefers-color-scheme: dark)" />
		<link rel="icon" type="image/png" href="assets/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="assets/favicon.svg" />
		<link rel="shortcut icon" href="assets/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="BayernAtlas" />
		<link rel="manifest" href="assets/site.webmanifest" />
	</head>

	<body>
		<ba-header></ba-header>
		<ba-main-menu></ba-main-menu>
		<ba-navigation-rail></ba-navigation-rail>
		<ba-dnd-import-panel></ba-dnd-import-panel>
		<ba-ol-map></ba-ol-map>
		<ba-chips></ba-chips>
		<ba-map-button-container></ba-map-button-container>
		<active-state-buttons></active-state-buttons>
		<ba-tool-bar></ba-tool-bar>
		<ba-tool-container></ba-tool-container>
		<ba-footer></ba-footer>
		<ba-nonembedded-hint></ba-nonembedded-hint>
		<ba-theme-provider></ba-theme-provider>
		<ba-notification-panel></ba-notification-panel>
		<ba-modal></ba-modal>
		<ba-map-context-menu></ba-map-context-menu>
	</body>
</html>
