* {
	/* brand */
	--brand-hue: 198;
	--brand-saturation: 92%;
	--brand-lightness: 45%;
  
	/* light */
	--brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
	--brand-light-lighter: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) / .55) );
	--brand-secondary-light: hsl(var(--brand-hue) var(--brand-saturation) 30%);    
	--text1-light: hsl(var(--brand-hue) 10% 40%);
	--text2-light: hsl(var(--brand-hue) 10% 60%);
	--text3-light: hsl(var(--brand-hue) 0% 100%);
	--surface1-light: hsl(var(--brand-hue) 20% 99%);
	--surface2-light: hsl(var(--brand-hue) 10% 90%);
	--surface3-light: hsl(var(--brand-hue) 60% 95%);
	--surface4-light: hsl(var(--brand-hue) 20% 100%);
	--surface5-light: hsla(var(--brand-hue),10%,15%,.8);
  
	/* dark */
	--brand-dark: hsl(var(--brand-hue)  calc(var(--brand-saturation) / 1.6) calc(var(--brand-lightness) / .9));
	--brand-dark-lighter: hsl( var(--brand-hue) calc(var(--brand-saturation) / 1.2) calc(var(--brand-lightness) / 1.6));
	--brand-secondary-dark: hsl( var(--brand-hue) calc(var(--brand-saturation) / 0.3) 30%);
	--text1-dark: hsl(var(--brand-hue) 15% 95%);
	--text2-dark: hsl(var(--brand-hue) 10% 80%);
	--text3-dark: hsl(var(--brand-hue) 0% 100%);
	--surface1-dark: hsl(var(--brand-hue) 10% 20%);
	--surface2-dark: hsl(var(--brand-hue) 15% 40%);
	--surface3-dark: hsl(var(--brand-hue) 40% 25%);
	--surface4-dark: hsl(var(--brand-hue) 10% 15%);
	--surface5-dark: hsla(var(--brand-hue),15%,40%,.8);

	/* others */
	--error-color: hsla(341, 60%, 52%, 1);
	--warning-color: hsla(18, 89%, 48%, 1);
	--info-color: hsla(184, 56%, 43%, 1);
	--sucess-color: hsla(161, 100%, 32%, 1);
}

/* global variables (custom properties) */
:root {
	font-size: calc(0.7em + 0.225vw);

	--border-radius-button: 2.5em;
	--border-radius-button-b: .5em;
    
	--font-family: 'Open Sans', sans-serif;
    
	--z-footer: 100;
	--z-mapbuttons: 200;
	--z-toolbox: 300;
	--z-mainmenu: 400;
	--z-header: 500;
	--z-modal: 600;
	--z-notification: 700;
	--z-dragndrop: 800;

	--width-mainmenu: 28em;
	--animationtime-mainmenu: 0.3s;

	/* animation */
	--animation-duration-large-open: 300ms;
	--animation-duration-large-close: 250ms;
	--animation-duration-medium-open: 250ms;
	--animation-duration-medium-close: 200ms;
	--animation-duration-small-open: 100ms;
	--animation-duration-small-close: 75ms;

	--animation-easing-open: cubic-bezier(0.0, 0.0, 0.2, 1);
	--animation-easing-close: cubic-bezier(0.4, 0.0, 1, 1);
	--animation-easing-linea: cubic-bezier(0.4, 0.0, 0.2, 1);

}


.light-theme {
	/* brand */
	--primary-color: var(--brand-light);
	--primary-color-lighter: var(--brand-light-lighter);
	--secondary-color: var(--brand-secondary-light);   
	/* background */
	--primary-bg-color: var(--surface1-light);
	--primary-bg-color-05: hsla(var(--brand-hue),20%,99%,0.9);
	--secondary-bg-color: var(--surface2-light); 
	--tertiary-bg-color: var(--surface4-light);    
	--header-background-color: var(--surface3-light);    
	--modal-background-color: var(--surface5-light);    
	/* text */
	--text1: var(--text1-light);
	--text2: var(--text2-light);
	--text3: var(--text3-light);
}

.dark-theme {
	/* brand */
	--primary-color: var(--brand-dark);
	--primary-color-lighter: var(--brand-dark-lighter);
	--secondary-color: var(--brand-secondary-dark);  
	/* background */
	--primary-bg-color: var(--surface1-dark);
	--primary-bg-color-05: rgba( 0,0,0, 0.6);
	--secondary-bg-color: var(--surface2-dark); 
	--tertiary-bg-color: var(--surface4-dark);      
	--header-background-color: var(--surface3-dark);    
	--modal-background-color: var(--surface5-dark);    
	/* text */
	--text1: var(--text1-dark);
	--text2: var(--text2-dark);
	--text3: var(--text3-dark);
}

*,
::before,
::after {
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
	color: var(--text1); 
	font-family: var(--font-family);
}  

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('assets/OpenSans-Regular.woff2') format('woff2'); 
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('assets/OpenSans-Bold.woff2') format('woff2'); 
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
