.gui-switch {
	--thumb-size: 2rem;
	--thumb: hsl(0 0% 100%);
	--thumb-highlight: hsl(0 0% 0% / 25%);
	--track-size: calc(var(--thumb-size) * 2);
	--track-padding: 2px;
	--track-inactive: hsl(80 0% 80%);
	--track-active: hsl(80 60% 45%);
	--track-color-inactive: var(--track-inactive);
	--track-color-active: var(--track-active);

	@media (prefers-color-scheme: dark) {
		--track-inactive: hsl(80 0% 35%);
		--track-active: hsl(80 60% 60%);
	}

	position: relative;
	display: flex;
	align-items: center;
	gap: 2ch;
	justify-content: space-between;
	width: calc(var(--thumb-size) + var(--track-size) + var(--track-padding) * 2);
	height: var(--thumb-size);

	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.gui-switch > input {
	--thumb-position: 0%;
	--thumb-transition-duration: 0.25s;

	padding: var(--track-padding);
	background: var(--track-color-inactive);
	inline-size: var(--track-size);
	block-size: var(--thumb-size);
	border-radius: var(--track-size);

	appearance: none;
	pointer-events: none;
	touch-action: pan-y;
	border: none;
	outline-offset: 5px;
	box-sizing: content-box;

	flex-shrink: 0;
	display: grid;
	align-items: center;
	grid: [track] 1fr / [track] 1fr;

	transition: background-color 0.25s ease;
}

.gui-switch > input::before {
	--highlight-size: 0;

	content: '';
	cursor: pointer;
	pointer-events: auto;
	grid-area: track;
	inline-size: var(--thumb-size);
	block-size: var(--thumb-size);
	background: var(--thumb-color);
	box-shadow: 0 0 0 var(--highlight-size) var(--thumb-color-highlight);
	border-radius: 50%;
	transform: translateX(var(--thumb-position));

	transition: transform var(--thumb-transition-duration) ease, box-shadow 0.25s ease;
}

.gui-switch > .gui-slider {
	position: relative;
	width: var(--track-size);
	height: var(--thumb-size);
	background-color: var(--track-color-inactive);
	border-radius: calc(var(--track-size) / 2);
	transition: background-color 0.4s;
}

.gui-switch > .gui-slider::before {
	content: '';
	position: absolute;
	left: 2px;
	bottom: 2px;
	width: calc(var(--thumb-size) - 4px);
	height: calc(var(--thumb-size) - 4px);
	background-color: var(--thumb);
	border-radius: 50%;
	transition: transform 0.4s, box-shadow 0.4s;
}

.gui-switch > input:checked + .gui-slider {
	background-color: var(--track-color-active);
}

.gui-switch > input:focus + .gui-slider::before,
.gui-switch > .gui-slider:hover::before {
	box-shadow: 0 0 0 8px rgba(33, 150, 243, 0.6);
}

.gui-switch > input:checked + .gui-slider::before {
	transform: translateX(calc(var(--track-size) - var(--thumb-size) + 2px));
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.8);
}

.gui-switch > .gui-slider:active::before {
	width: calc(var(--thumb-size) - 4px);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.8);
}
