.color-row {
	display: flex;
}

.color {
	cursor: pointer;
	display: inline-block;
	height: 2em;
	width: 2em;
	border: none;
	transition: transform var(--animation-duration-small-close) var(--animation-easing-open);
	box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

.color:hover {
	transform: scale(1.1);
	z-index: 1;
}

/* 
	Palette with 16 Colors.
*/
.black {
	background: black;
}

.grey {
	background: grey;
}

.maroon {
	background: maroon;
}

.red {
	background: red;
}

.green {
	background: green;
}

.lime {
	background: lime;
}

.olive {
	background: olive;
}

.yellow {
	background: yellow;
}

.navy {
	background: navy;
}

.blue {
	background: blue;
}

.purple {
	background: purple;
}

.fuchsia {
	background: fuchsia;
}

.teal {
	background: teal;
}

.aqua {
	background: aqua;
}

.silver {
	background: silver;
}

.white {
	background: white;
}
