.slider-container {
	width: 54%;
	padding-top: 1em;
	display: flex;
}

.slider-container ba-badge {
	margin: auto;
	margin-left: 0.5em;
}
.slider-container ba-badge::part(badge) {
	min-width: 2.8em;
	display: inline-block;
	text-align: right;
}

.collapse-content ba-icon {
	border-radius: 2.5em;
	width: 2.6rem;
	height: 2.6rem;
	display: block;
	margin: 0 0.3em;
}

.clear {
	padding-left: 0;
}

.clear ba-icon {
	border-radius: 2em;
	width: 2em;
	height: 2em;
	display: block;
	font-size: 1rem;
}

.collapse-content ba-icon:hover {
	background: var(--primary-color);
}

.clear ba-icon:hover {
	background: var(--error-color);
}

.collapse-content ba-icon:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}

.ba-list-item:hover {
	background: transparent;
}

.collapse-content {
	display: grid;
	grid-template-rows: 1fr;
	transition: grid-template-rows var(--animation-duration-medium-open);
}

.collapse-content > div {
	overflow: hidden;
}

.iscollapse {
	display: none;
}

.ishidden {
	visibility: hidden;
}

.collapse-content > * {
	border-right: 1px dotted var(--header-background-color);
}

.collapse-content > *:first-child {
	border-right: 0;
	margin-right: 0.5em;
}

.collapse-content > *:last-child {
	padding-right: 1em;
	border-right: 0;
}
.opacity-slider {
	-webkit-user-drag: element;
}

.ba-form-element {
	width: 11ch;
}

.ba-form-element:last-of-type {
	margin: 0em 0 0em 0;
}

.oaf-settings-icon {
	margin: auto 1em auto 0;
	border-radius: 2em;
	width: 2em;
	height: 2em;
	display: block;
	padding: 0;
}
.oaf-settings-icon ba-icon::part(icon) {
	transform: scale(0.7);
}
.oaf-settings-icon:hover {
	background: var(--primary-color);
}

.time-travel-icon {
	margin: auto 1em auto 0;
	border-radius: 2em;
	width: 2em;
	height: 2em;
	display: block;
	padding: 0;
}
.time-travel-icon ba-icon::part(icon) {
	transform: scale(0.95);
}
.time-travel-icon:hover {
	background: var(--primary-color);
}

.compare {
	display: flex;
	align-items: stretch;
	border-radius: 0em;
	overflow: hidden;
	margin: 0.8em 1em;
}

.compare ba-button {
	display: flex;
	width: 100%;
}

.compare ba-button:last-child {
	border-right: none;
}

.compare ba-button::part(button) {
	font-size: 0.8rem;
	padding-bottom: 1em;
}
#left::part(button) {
	border-radius: 2em 0 0 2em;
}
#both::part(button) {
	border-right: 1px solid var(--header-background-color);
	border-left: 1px solid var(--header-background-color);
}

#right::part(button) {
	border-radius: 0 2em 2em 0;
}

.compare ba-button.active:not(:hover)::part(button) {
	background: var(--primary-color);
	color: var(--text3);
}

.compare ba-button:not(:hover)::part(button) {
	color: var(--text1);
}

.bar {
	font-size: 0.8rem !important;
	bottom: 0;
	position: absolute;
	height: 0.3em;
	background: var(--primary-color);
	transition: all var(--animation-duration-medium-open);
	display: none;
}
.left {
	left: 0;
	right: calc(66.66% + 1px);
	background: var(--primary-color);
}
.right {
	left: 66.66%;
	right: 1px;
	background: var(--primary-color);
}
.both {
	left: 0%;
	right: 1px;
	background: var(--primary-color);
}

input[type='range']::-moz-range-thumb {
	width: 1.2em;
	height: 1.2em;
}
ba-value-select {
	position: absolute;
	right: 0.5em;
	top: 0;
	width: 4em;
}
.layer-state-icon {
	position: relative;
	top: 0em;
	background: var(--primary-bg-color);
	border-radius: 2em;
}

.layer-state-icon.loading {
	animation: spin 1.5s linear infinite;
}

.layer-state-icon::part(icon) {
	position: relative;
	top: 0.1em;
}

.feature-count-badge::part(badge) {
	margin-left: 0.4em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.layer-item {
	margin: 0.3em 1em 0.3em 0.8em;
	background: var(--header-background-color);
	border-radius: 2em;
}

.layer-item > .ba-list-item {
	position: relative;
}

.ba-list-item-badges {
	position: absolute;
	right: 1.3em;
	top: -1.4em;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.ba-section {
	border-left: 0 !important;
}

.ba-section:hover {
	background: color-mix(in hsl, var(--header-background-color) 85%, var(--primary-color) 15%);
}
