.slider-container {
	width: 54%;
	padding-top: 1em;
	display: flex;
}

.slider-container ba-badge {
	margin: auto;
	margin-left: 0.5em;
}
.slider-container ba-badge::part(badge) {
	min-width: 2.8em;
	display: inline-block;
	text-align: right;
}

.collapse-content ba-icon {
	border-radius: 2.5em;
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	margin: 0 0.3em;
}

.clear {
	padding-left: 0;
}

.clear ba-icon {
	border-radius: 2em;
	width: 2.5em;
	height: 2.5em;
	display: flex;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
}

.ba-list-item:hover {
	background: transparent;
}

.collapse-content {
	display: grid;
	grid-template-rows: 1fr;
	transition: grid-template-rows var(--animation-duration-medium-open);
}

.collapse-content > div {
	overflow: hidden;
}

.iscollapse {
	display: none;
}

.ishidden {
	visibility: hidden;
}

ba-value-select ~ * {
	margin-top: 1em !important;
	margin-bottom: 0.4em !important;
}

.ba-list-item-badges:not(:has(*)) {
	display: none !important;
}
.ba-list-item-badges:has(*) ~ * {
	margin-top: 1.1em !important;
	margin-bottom: 0.4em !important;
}

.collapse-content > * {
	border-right: 1px dotted var(--header-background-color);
}

.collapse-content > *:first-child {
	border-right: 0;
	margin-right: 0.5em;
}

.collapse-content > *:last-child {
	padding-right: 1em;
	border-right: 0;
}
.opacity-slider {
	-webkit-user-drag: element;
}

.ba-form-element {
	width: 11ch;
}

.ba-form-element:last-of-type {
	margin: 0em 0 0em 0;
}

.oaf-settings-icon,
.time-travel-icon {
	display: flex;
	padding: 0em;
	position: relative;
	background: transparent;
	border: 0;
	align-items: center;
	margin-right: 0.3em;
}
.oaf-settings-icon ba-icon,
.time-travel-icon ba-icon {
	border-radius: 2.5em;
	width: 2.5em;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.oaf-settings-icon ba-icon::part(icon) {
	transform: scale(0.55);
}

.time-travel-icon ba-icon::part(icon) {
	transform: scale(0.8);
}

.compare {
	display: flex;
	align-items: stretch;
	overflow: hidden;
	margin: 0.8em 1em;
	border-radius: 2em;
	background: var(--primary-bg-color);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px -1px inset;
}

.compare ba-button {
	display: flex;
	width: 100%;
}

.compare ba-button::part(button) {
	font-size: 0.7rem;
	padding-bottom: 1em;
	border-radius: 2em;
}

.compare ba-button:not(.active)::part(button) {
	color: var(--text1);
	background: transparent;
}
.compare ba-button:not(.active)::part(button):hover {
	background: var(--primary-bg-color);
	color: var(--text4);
}

.compare ba-button.active:not(:hover)::part(button) {
	background: var(--primary-color);
	color: var(--text3);
}

.bar {
	font-size: 0.8rem !important;
	bottom: 0;
	position: absolute;
	height: 0.3em;
	background: var(--primary-color);
	transition: all var(--animation-duration-medium-open);
	display: none;
}
.left {
	left: 0;
	right: calc(66.66% + 1px);
	background: var(--primary-color);
}
.right {
	left: 66.66%;
	right: 1px;
	background: var(--primary-color);
}
.both {
	left: 0%;
	right: 1px;
	background: var(--primary-color);
}

input[type='range']::-moz-range-thumb {
	width: 1.2em;
	height: 1.2em;
}
ba-value-select {
	width: 4em;
}

.layer-state-icon.loading {
	animation: spin 1.5s linear infinite;
}

.layer-state-icon {
	height: 1.2em;
	width: 1.2em;
}

.layer-state-icon:not(.loading)::part(button) {
	background: var(--text5);
}

.layer-state-icon:not(.loading)::part(icon) {
	border: 1px solid var(--text5);
	border-radius: 2em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.layer-item {
	--base-color: var(--header-background-color);
	--bg-color: var(--header-background-color);
	margin: 0.3em 1em 0.3em 0.8em;
	background: linear-gradient(to left, var(--base-color) 0%, var(--base-color) 2%, var(--bg-color) 2%, var(--bg-color) 100%);
	border-radius: 2em;
	border: 2px solid var(--bg-color);
}

.layer-item > .ba-list-item {
	position: relative;
}

.ba-section {
	border-left: 0 !important;
}

.ba-section:hover {
	--base-color: color-mix(in hsl, var(--header-background-color) 85%, var(--primary-color) 15%);
	--bg-color: color-mix(in hsl, var(--header-background-color) 85%, var(--primary-color) 15%);
	background: linear-gradient(to left, var(--base-color) 0%, var(--base-color) 2%, var(--bg-color) 2%, var(--bg-color) 100%);
}
.ba-list-item__after.clear {
	padding: 0;
}

.clear ba-icon::part(icon) {
	transform: scale(0.8);
}

.remove-background {
	background: var(--split-one-color-lighter);
}
.button-detail {
	height: 2em;
	width: 2em;
	border-radius: 2em;
	background: var(--header-background-color);
	border: none;
}
#button-detail {
	background: transparent;
	height: 2.5em;
	width: 2.5em;
	border-radius: 2em;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toggle {
	padding: 0 0.5em 0 0 !important;
	margin-left: 0.3em;
}
.toggle #button-detail:hover {
	background: var(--header-background-color);
}
.feature-count-container {
	height: 1em;
}

.ba-list-item-badges {
	position: absolute;
	right: 1.3em;
	top: -1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	gap: 0.2em;
}
.oaf-settings-icon ba-icon:hover,
.time-travel-icon ba-icon:hover {
	background: var(--primary-color);
}

.collapse-content ba-icon:hover {
	background: var(--primary-color);
}

.clear ba-icon:hover {
	background: var(--error-color);
}
.collapse-content ba-icon:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
.ba-section.layer-item .ba-list-item ba-checkbox {
	padding-left: 0.8em;
}
