.header {
	border-radius: 2em;
	display: flex;
	position: absolute;
	left: 0;
	top: -1.2em;
	background: var(--primary-bg-color);
	box-shadow: 1px -2px 2px rgba(0, 0, 0, 0.2);
}
.header h3 {
	display: flex;
	padding: 0.5em 1em 0.5em 3.1em;
	color: var(--text1);
}
.header h3 .icon {
	left: 1.1em;
	top: 0.5em;
	height: 1.2em;
	width: 1.2em;
	display: inline-block;
	position: absolute;
	background: var(--text1);
	mask: url('./assets/settings.svg');
	-webkit-mask-image: url('./assets/settings.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}

.layer_settings_container {
	display: flex;
	margin-top: 1em;
	overflow-y: auto;
	gap: 0.8em;
}
.layer_setting {
	margin: 0.5em 0;
	background: var(--header-background-color);
	border-radius: 2em;
	padding: 1em 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border: var(--hc-border1);
}
.layer_setting_title {
	display: flex;
	align-items: center;
	font-weight: bold;
	padding-bottom: 0.3em;
}

.layer_setting_content {
	padding: 1em 0;
	display: flex;
	min-width: 16em;
}
.layer_button_content {
	display: flex;
	align-items: flex-start;
	margin: 0.8em;
	min-width: 12em;
	padding: 0;
	background: no-repeat;
	border: none;
}
.layer_setting_description {
	color: var(--text2);
	align-self: flex-start;
	font-size: 0.8rem;
}

.interval-container {
	display: flex;
	align-items: center;
	min-height: 2em;
	width: 100%;
}

.interval-container input {
	padding: 0.5em;
	width: 70%;
}

.color-input {
	width: 4em;
	height: 4em;
	display: inline-block;
	margin-right: 0.3em;
}

.color-input input {
	cursor: pointer;
	height: 4em;
	position: relative;
	top: 0em;
	left: 0em;
	width: 4em;
	padding: 0em;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.color-input input:disabled {
	cursor: not-allowed;
}

.reset_settings.disabled {
	filter: grayscale(1) !important;
}

.layer_setting_content.inactive {
	filter: grayscale(80%);
}

.layer_setting_content.inactive .color-input {
	background-image: url('assets/chess.svg');
	background-size: 1em;
	border-radius: 2em;
	border: 1px solid var(--text2);
}

.layer_setting_content.inactive input[type='color'] {
	opacity: 0;
}
.layer_setting_content ba-switch {
	display: flex;
	flex-direction: column;
}

.toggle__description_note {
	font-style: italic;
	color: var(--text2);
}

.header-icon {
	margin-right: 0.5em;
	height: 2.2em;
	width: 2.2em;
	display: inline-block;
	background: var(--secondary-color);
	background: color-mix(in oklch, var(--header-background-color) 77%, var(--primary-color) 22%);
	position: absolute;
	right: 0.5em;
	top: 0.6em;
}

.clock-icon {
	mask: url('./assets/clock-fill.svg');
	-webkit-mask-image: url('./assets/clock-fill.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}

.palette-icon {
	mask: url('./assets/palette-fill.svg');
	-webkit-mask-image: url('./assets/palette-fill.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}

.label-icon {
	mask: url('./assets/label.svg');
	-webkit-mask-image: url('./assets/label.svg');
	mask-size: cover;
	-webkit-mask-size: cover;
}
