.layer_settings_container {
	display: flex;
}
.layer_setting {
	margin: 0.5em;
	padding: 0.3em;
	border: 1px solid var(--secondary-bg-color);
}
.layer_setting_title {
	font-style: oblique;
	padding-bottom: 0.3em;
}

.layer_setting_content {
	padding: 0.5em;
	display: flex;
}
.color-input {
	width: 4em;
	height: 4em;
	display: inline-block;
}

.color-input input {
	cursor: not-allowed;
	height: 4em;
	position: relative;
	top: 0em;
	left: 0em;
	width: 4em;
	padding: 0em;
}

.color-input input:disabled {
	height: 2em;
	position: relative;
	top: 1em;
	left: 1em;
	width: 2em;
	padding: 0em;
	opacity: 0.4;
}

.interval-input *:disabled {
	opacity: 0.4;
}
