.slider-container {
	width: 50%;
	padding-top: 1em;
	display: flex;
}

.collapse-content ba-icon {
	border-radius: 2.5em;
	width: 2.6rem;
	height: 2.6rem;
	display: block;
	margin: 0 0.3em;
}

.collapse-content ba-icon:hover {
	background: var(--primary-color);
}

.collapse-content ba-icon:focus {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}

.ba-list-item:hover {
	background: transparent;
}

.collapse-content {
	display: grid;
	grid-template-rows: 1fr;
	transition: grid-template-rows var(--animation-duration-medium-open);
}

.collapse-content > div {
	overflow: hidden;
}

.iscollapse {
	display: none;
}

.ishidden {
	visibility: hidden;
}

.collapse-content > * {
	border-right: 1px dotted var(--header-background-color);
}

.collapse-content > *:first-child {
	border-right: 0;
	margin-right: 0.5em;
}

.collapse-content > *:last-child {
	padding-right: 1em;
	border-right: 0;
}
.opacity-slider {
	-webkit-user-drag: element;
}

.ba-form-element {
	width: 11ch;
}

.ba-form-element:last-of-type {
	margin: 0em 0 0em 0;
}

.time-travel-icon {
	margin-right: 0.5em;
}

.compare {
	display: flex;
	align-items: stretch;
	border-radius: 0em;
	overflow: hidden;
	position: relative;
	margin-bottom: 0.1em;
}

.compare ba-button {
	display: flex;
	width: 100%;
	border-right: 1px dotted var(--primary-color);
}

.compare ba-button:last-child {
	border-right: none;
}

.compare ba-button::part(button) {
	font-size: 0.8rem;
	border-bottom: 0.3em solid var(--header-background-color);
	padding-bottom: 1em;
}

.compare ba-button.active:not(:hover)::part(button) {
	color: var(--primary-color);
}

.compare ba-button:not(:hover)::part(button) {
	color: var(--text1);
}

.bar {
	font-size: 0.8rem !important;
	bottom: 0;
	position: absolute;
	height: 0.3em;
	background: var(--primary-color);
	z-index: 1;
	transition: all var(--animation-duration-medium-open);
}
.left {
	left: 0;
	right: 50%;
	background: var(--primary-color);
}
.right {
	left: 50%;
	right: 0%;
	background: var(--primary-color);
}
.both {
	left: 0%;
	right: 0%;
	background: var(--primary-color);
}
