.slider-container {
	width: 50%;
	padding-top: 1em;
}
ba-icon {
	border-radius: 2.5em;
	width: 2.6em;
	height: 2.6em;
	display: block;
	margin: 0 .3em;
}
ba-icon:hover {
	background: var(--primary-color);

}
ba-icon:focus {
	box-shadow: 0 0 0 .2em var(--primary-color-lighter);
}
.ba-list-item:hover {
	background: transparent;
}
.iscollapse {
	display: none;
}

.collapse-content > * {
	border-right: 1px dotted var(--header-background-color);
}
.collapse-content > *:first-child {
	border-right: 0;
	margin-right: .5em;
}
.collapse-content > *:last-child {
	padding-right: 1em;
	border-right: 0;
}
