.title {
	font-weight: bold;
	padding: 0.8em 1.5em;
}
.button-group {
	position: absolute;
	right: 1.3em;
	top: 0.6em;
}
.button-group button {
	font-size: 0.8rem;
	padding: 0.4em 0.8em;
	background: var(--primary-bg-color);
	border: 1px solid var(--header-background-color);
	color: var(--text1);
}
.button-group button:first-child {
	border-radius: 2em 0 0 2em;
	border-right: 0;
}
.button-group button:last-child {
	border-radius: 0 2em 2em 0;
}
.button-group button.is-active {
	color: var(--primary-color);
}

.section {
	block-size: 100%;

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
}

.container {
	scroll-snap-align: start;

	overflow-y: auto;
	overscroll-behavior-y: contain;
}
.scroll-snap-x {
	overflow: auto hidden;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.scroll-snap-x::-webkit-scrollbar {
	width: 0;
	height: 0;
}
