.title {
	background: var(--primary-bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title-text {
	font-weight: bold;
	padding: 0.8em 1.5em;
}
.title-icon {
	padding: 0.8em 1.5em;
	cursor: pointer;
}

.button-group {
	display: flex;
	background: var(--primary-bg-color);
	border-radius: 2em;
	padding: 0 1.2em 0.3em;
}
.button-group button {
	font-size: 0.9rem;
	padding: 0.4em 0.8em;
	background: transparent;
	color: var(--text1);
	font-weight: normal;
	border: 1px solid var(--primary-color);
	border-radius: 2em !important;
	margin-right: 0.5em;
}
.button-group button:first-child {
	border-radius: 2em 0 0 2em;
}
.button-group button:last-child {
	border-radius: 0 2em 2em 0;
}
.button-group button:hover {
	color: var(--text4);
}
.button-group button.is-active {
	background: var(--primary-color);
	border-radius: 2em;
	color: var(--text3);
}
.section {
	block-size: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	background: var(--primary-bg-color);
	padding-bottom: 0.5em;
}
.container {
	position: relative;
	scroll-snap-align: start;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	height: 8.5em;
	min-height: 8.5em;
	transition: height var(--animation-duration-large-open) var(--animation-easing-linear);
}

.container.is-active {
	height: auto;
}

.scroll-snap-x {
	overflow: auto hidden;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	margin-right: 1px;
}
.scroll-snap-x::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.scroll-right-button {
	height: 6.7em;
	width: 1.5em;
	background: var(--primary-bg-color);
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	background-image: url('./assets/arrowbarright.svg');
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	background-size: 1.3em auto;
}
.scroll-left-button {
	height: 6.7em;
	width: 1.5em;
	background: var(--primary-bg-color);
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	background-image: url('./assets/arrowBarLeft.svg');
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	background-size: 1.3em auto;
}
.icon {
	background: var(--primary-color);
	-webkit-mask-repeat: no-repeat;
	display: inline-block;
	height: 1em;
	width: 0.625em;
}
.icon-rotate-90 {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all var(--animation-duration-large-open) var(--animation-easing-open);
}
.iconexpand {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.icon-primary {
	background: var(--primary-color);
}
.icon-secondary {
	background: var(--text2);
}
.chevron {
	position: relative;
	mask: url('../../../../assets/icons/chevron-right.svg');
	-webkit-mask-image: url('../../../../assets/icons/chevron-right.svg');
	mask-image: url('../../../../assets/icons/chevron-right.svg');
}
.iscollapse {
	display: none;
}

.scroll-right-button:focus-visible,
.scroll-left-button:focus-visible {
	box-shadow: inset 0 0 0 0.2em var(--primary-color-lighter);
}

.button-group button:hover,
.button-group button:focus-visible {
	box-shadow: 0 0 0 0.2em var(--primary-color-lighter);
}
