.container {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

.col {
	display: flex;
	flex-flow: column;
}

.row {
	display: flex;
}

.routing-info-icon {
	height: 2.5em;
	width: 2.5em;
	margin: 0.8rem 0.8rem 0.3rem 0.8rem;
	padding: 0;
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
}

.routing-info-text {
	padding: 0;
	text-align: center;
	color: var(--primary-color);
}

.duration {
	mask-image: url('../assets/time.svg');
	-webkit-mask-image: url('../assets/time.svg');
}

.distance {
	mask-image: url('../assets/distance.svg');
	-webkit-mask-image: url('../assets/distance.svg');
}

.uphill {
	mask-image: url('../assets/uphill.svg');
	-webkit-mask-image: url('../assets/uphill.svg');
}

.downhill {
	mask-image: url('../assets/downhill.svg');
	-webkit-mask-image: url('../assets/downhill.svg');
}
