.feedback-form-container {
	display: flex;
	flex-direction: row;
	position: relative;
	flex-direction: collum;
}

.feedback-form-left {
	display: flex;
	flex: 1;
	border: 1px solid black;
	padding: 10px;
}

.form__content {
	padding: 0 1em;
	max-width: 35em;
}

.feedback-form-right {
	flex: 1;
	border: 1px solid black;
	padding: 10px;
}

iframe[data-iframe-geometry-reference-id=''] {
	border-bottom: 5px solid var(--error-color);
}

iframe[data-iframe-geometry-reference-id^='f_'] {
	border-bottom: none;
}

.Iframe__hint {
	position: absolute;
	left: 2.5em;
	color: var(--text3);
	background: var(--error-color);
	background: var(--info-color);
	bottom: 32px;
	font-size: 1.3rem;
	padding: 1em;
}

.map-feedback__disclaimer {
	font-size: 0.9rem;
	margin-top: 8em;
	padding: 1em 0;
}

.map-feedback__disclaimer a {
	font-size: 0.9rem;
	color: var(--text4);
}
.map-feedback__disclaimer a:hover {
	text-decoration: underline;
}
