iframe[data-iframe-geometry-reference-id=''].wasTouched {
	border-bottom: 5px solid var(--error-color);
}

iframe[data-iframe-geometry-reference-id=''] {
	border-bottom: none;
}

iframe[data-iframe-geometry-reference-id^='f_'] {
	border-bottom: none;
}

.Iframe__hint {
	font-style: italic;
}
