.container {
	position: absolute;
	padding: 0.5em;
	font-size: 0.75rem;
	bottom: 0;
	color: var(--text1);
	width: auto;
	background: var(--secondary-bg-color);
}

.build-info {
	display: flex;
	align-items: center;

	background-color: var(--primary-bg-color);
	> * {
		display: block;
	}

	.separator {
		height: 2.5em;
		width: 1px;
		background-color: #fff;
	}

	.copy-to-clipboard {
		padding: 0.8em 1em;
	}

	.copy-to-clipboard:hover {
		background-color: var(--primary-color);
	}

	.copy-to-clipboard::part(icon):hover {
		color: var(--text3);
	}
}
